<div class="row" [ngClass]="{blur:DraftSend}">
    <div class="col-12" style="padding:0">
        <!--loading start-->
        <div *ngIf="!showOrderInfo" class="content">
            <app-loading></app-loading>
        </div>
        <!--loading end-->
        <tabset *ngIf="showOrderInfo" #orderTabs>
            <tab heading="Order Info">
                <div *ngIf="order" class="row row1">
                    <div class="col-lg-8 col-md-6 col-sm-5 col-4">
                        <h4 style="display:inline">{{order?.users[0].name}}</h4>
                        <!-- #{{order.id}} -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-7 col-8" style="text-align:right">
                        <button *ngIf="order?.status==3 || order?.status==5" class="btn btn-primary"
                            (click)="updateOrderStatus('approve')">Approve
                        </button>
                        <button *ngIf="order?.status==3 || order?.status==5" class="btn btn-danger"
                            (click)="updateOrderStatus('revision')">Revision</button>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-lg-8">
                        <!--Question-->
                        <div *ngIf="order.status==1 else answerBlock"
                            class="card border-secondary d-flex flex-column justify-content-center align-items-center flex-fill">
                            <div class="card-header">
                                <h3>Please Fill up your Questionnaire :</h3>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <form [formGroup]="questionForm">
                                    <div *ngIf="us.chooseCV" class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>Upload Your Resume</strong></label>
                                        <input type="file" (change)="submitCV($event)" formControlName="resume" /><br />
                                        <a *ngIf="!selectedResume" routerLink="resumedata">if you don't have a resume
                                            then click here</a>
                                        <br />
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>Kindly paste the link(s) of at least two jobs for which you are
                                                actively
                                                applying for</strong></label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q1" value=""></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                Do you want to have a general resume that can be applicable for several
                                                job
                                                postings, or a specific resume targeted to one particular
                                                position?</strong>
                                        </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q2" value=""></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                What is your targeted industry?</strong>
                                        </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Ex: IT/Technology, SaaS, Software" formControlName="q3"
                                            value=""></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                What are the areas of expertise that you would like to mention in your
                                                resume
                                                as keywords?</strong></label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Ex: Project Management, Social Media" formControlName="q4"
                                            value=""></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                What have been the biggest accomplishments during your career?</strong>
                                        </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q5" value=""></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                Have you received any honors or awards? What are they?</strong></label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q6" value=""></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                Do you have any special certifications/training to include in the
                                                resume?</strong>
                                        </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q7" value=""></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                What is your LinkedIn URL?</strong></label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q8" value=""></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <input type="submit" class="btn btn-success btn-lg btn-block"
                                            (click)="submitQuestion()" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--Question With Answer-->
                        <ng-template #answerBlock>
                            <div
                                class="card border-secondary d-flex flex-column justify-content-center align-items-center flex-fill">
                                <br />
                                <div class="row" style="margin:0">
                                    <div *ngIf="!resumes_detail" class="col-sm-5">
                                        <ngx-doc-viewer url="{{mediaUrl}}answers_files/{{order.answers_file}}"
                                            viewer="google" disableContent="none">
                                        </ngx-doc-viewer>
                                        <br />
                                        <div class="text-center">
                                            <a class="btn download_btn"
                                                href="{{mediaUrl}}answers_files/{{order.answers_file}}"><i
                                                    class="fas fa-arrow-to-bottom"></i>Download</a>
                                        </div>
                                        <!-- <iframe [src]="mediaUrl+'answers_files/'+order.answers_file | safe" width="500px"
                                height="500px"></iframe> -->
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="user_description">
                                            <div class="jss446 jss423">
                                                Iswaran Panneerselvam's goals
                                            </div>
                                            <div class="jss447 jss424">Global Head of Compliance</div>
                                            <hr class="jss429">
                                            <div class="jss448 jss425">
                                                <p class="MuiTypography-root jss426 MuiTypography-body2">
                                                    Financial Services (Banking, Lending, Investing, Real Estate)
                                                </p>
                                                <p class="MuiTypography-root jss426 MuiTypography-body2">
                                                    International
                                                </p>
                                            </div>
                                            <p class="MuiTypography-root jss427 MuiTypography-body2">
                                                Client Notes
                                            </p>
                                            <div class=" jss449 jss428">
                                                <p class="MuiTypography-root jss430 jss431 MuiTypography-body2">
                                                    Global Head of compliance and risk roles. in banking, blockchain
                                                    and Web3 and crypto exchanges plus custody
                                                </p>
                                            </div>
                                            <p class="MuiTypography-root jss432 MuiTypography-body2">See more</p>
                                        </div>
                                    </div>
                                    <div>

                                    </div>
                                </div>
                                <div class="card-header questionaire">
                                    <h3>Questionnaire</h3>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <div class="mb-3">
                                        <h5 class="row">
                                            <div class="col-1">
                                                <i class="fa fa-quora"></i>
                                            </div>
                                            <div class="col-10">
                                                Kindly paste the link(s) of at least two jobs for which you are actively
                                                applying
                                                for
                                            </div>
                                        </h5>
                                        <div class="row">
                                            <div class="col-1">

                                            </div>
                                            <div class="col-10">
                                                <p>{{questionaire_answer.q1}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h5 class="row">
                                            <div class="col-1">
                                                <i class="fa fa-quora"></i>
                                            </div>
                                            <div class="col-10">
                                                Do you want to have a general resume that can be applicable for several
                                                job
                                                postings, or a specific resume targeted to one particular position?
                                            </div>
                                        </h5>
                                        <div class="row">
                                            <div class="col-1">

                                            </div>
                                            <div class="col-10">
                                                <p>{{questionaire_answer.q2}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h5 class="row">
                                            <div class="col-1">
                                                <i class="fa fa-quora"></i>
                                            </div>
                                            <div class="col-10">
                                                What is your targeted industry?
                                            </div>
                                        </h5>
                                        <div class="row">
                                            <div class="col-1">

                                            </div>
                                            <div class="col-10">
                                                <p>{{questionaire_answer.q3}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h5 class="row">
                                            <div class="col-1">
                                                <i class="fa fa-quora"></i>
                                            </div>
                                            <div class="col-10">
                                                What are the areas of expertise that you would like to mention in your
                                                resume
                                                as
                                                keywords?
                                            </div>
                                        </h5>
                                        <div class="row">
                                            <div class="col-1">

                                            </div>
                                            <div class="col-10">
                                                <p>{{questionaire_answer.q4}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h5 class="row">
                                            <div class="col-1">
                                                <i class="fa fa-quora"></i>
                                            </div>
                                            <div class="col-10">
                                                What have been the biggest accomplishments during your career?
                                            </div>
                                        </h5>
                                        <div class="row">
                                            <div class="col-1">

                                            </div>
                                            <div class="col-10">
                                                <p>{{questionaire_answer.q5}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h5 class="row">
                                            <div class="col-1">
                                                <i class="fa fa-quora"></i>
                                            </div>
                                            <div class="col-10">
                                                Have you received any honors or awards? What are they?
                                            </div>
                                        </h5>
                                        <div class="row">
                                            <div class="col-1">

                                            </div>
                                            <div class="col-10">
                                                <p>{{questionaire_answer.q6}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h5 class="row">
                                            <div class="col-1">
                                                <i class="fa fa-quora"></i>
                                            </div>
                                            <div class="col-10">
                                                Do you have any special certifications/training to include in the
                                                resume?
                                            </div>
                                        </h5>
                                        <div class="row">
                                            <div class="col-1">

                                            </div>
                                            <div class="col-10">
                                                <p>{{questionaire_answer.q7}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h5 class="row">
                                            <div class="col-1">
                                                <i class="fa fa-quora"></i>
                                            </div>
                                            <div class="col-10">
                                                What is your LinkedIn URL?
                                            </div>
                                        </h5>
                                        <div class="row">
                                            <div class="col-1">

                                            </div>
                                            <div class="col-10">
                                                <p>{{questionaire_answer.q8}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="flex-fill col-lg-4" style="position:sticky;top:70px;align-self:flex-start">
                        <div class="card sidebar_card mb-2">
                            <div class="card-header">
                                <h4>Order Detail</h4>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="row">
                                    <p class="col-4"><b>Price</b></p>
                                    <p class="col-8 text-right">{{ order?.price | currency }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-4"><b>Status</b></p>
                                    <p class="col-8 text-right" style="padding:0px">
                                        <span class="order_status"
                                            [ngStyle]="{backgroundColor:order_status_color[order?.status]}">{{
                                            user_status[order?.status] }}</span>
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-4"><b>Date</b></p>
                                    <p class="col-8 text-right"> {{ order?.created_at | date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card sidebar_card mb-2">
                            <div class="card-header">
                                <h4>Service / Package Detail</h4>
                            </div>
                            <div class="card-body d-flex flex-column list-inline">
                                <div class="row">
                                    <p class="col-6"><b>Service Type</b></p>
                                    <p class="col-6 text-right">{{ order?.service_types[0].name}}</p>
                                </div>
                                <div class="row">
                                    <p class="col-6"><b>Service /<br /> Package Name</b></p>
                                    <p class="col-6 text-right"> {{ (order?.services.length >
                                        0) ?order?.services[0].title:order?.packages[0].title}}</p>
                                </div>
                                <div class="row">
                                    <p class="col-5"><b>Description</b> </p>
                                    <p class="col-7 text-right">{{ (order?.services.length >
                                        0)?order?.services[0].description:order?.packages[0].description }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Files">
                <div *ngIf="allOrderFiles else elseBlock">
                    <div *ngIf="firstDraftFiles.length>=1">
                        <H2>First Draft</H2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td class="file_no">#</td>
                                    <td>Name</td>
                                    <td>Date</td>
                                    <td>Download</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of firstDraftFiles; let i=index">
                                    <td class="file_no">{{i+1}}</td>
                                    <td>{{item.file}}</td>
                                    <td>{{item.date}}</td>
                                    <td><a href="{{mediaUrl}}{{item.file_path}}" download="{{item.file}}"
                                            target="_blank"><i class="fas fa-arrow-to-bottom"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="adminRevisionFiles.length>=1">
                        <H2>Revision</H2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td class="file_no">#</td>
                                    <td>Name</td>
                                    <td>Date</td>
                                    <td>Download</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of adminRevisionFiles; let i=index">
                                    <td class="file_no">{{i+1}}</td>
                                    <td>{{item.file}}</td>
                                    <td>{{item.date}}</td>
                                    <td><a href="{{mediaUrl}}{{item.file_path}}" download="{{item.file}}"
                                            target="_blank"><i class="fas fa-arrow-to-bottom"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="finalDraftFiles.length>=1">
                        <H2>Final Draft</H2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td class="file_no">#</td>
                                    <td>Name</td>
                                    <td>Date</td>
                                    <td>Download</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of finalDraftFiles; let i=index">
                                    <td class="file_no">{{i+1}}</td>
                                    <td>{{item.file}}</td>
                                    <td>{{item.date}}</td>
                                    <td><a href="{{mediaUrl}}{{item.file_path}}" download="{{item.file}}"
                                            target="_blank"><i class="fas fa-arrow-to-bottom"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <p class="no-data-available text-center">No Selected Files!</p>
                </ng-template>
            </tab>
        </tabset>
        <div class="tab-chat" class="chat-popup" heading="Chat">
            <div id="chat-box" class="card" style="visibility:hidden;">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>Chat with Admin</span>
                            <p>{{total_message}} Messages</p>
                        </div>
                    </div>
                    <button type="button" class="close pull-right" aria-label="Close" title="close chat"
                        (click)="closeChat(openChatbtn)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div #chatcontent class="card-body msg_card_body chat-content">
                    <!--yeh wala content har dafa re render ho ga-->
                    <ng-template #content>
                        <div *ngFor="let chat of chats">
                            <div *ngIf="chat.type!='join' && chat.type!='exit'">
                                <div class="message-box">
                                    <div class="chat-message">
                                        <!--in case simple message-->
                                        <div *ngIf="chat.type!='firstDraftMessage' && chat.type!='finalDraftMessage' && chat.type!='adminRevisionMessage'"
                                            class="right-bubble"
                                            [ngClass]="{'right-bubble': chat.nickname === nickname, 'left-bubble': chat.nickname !== nickname}">
                                            <span class="msg-name" *ngIf="chat.nickname === nickname">Me</span>
                                            <span class="msg-name"
                                                *ngIf="chat.nickname !== nickname">{{chat.nickname}}</span>
                                            <span class="msg-date"> at {{chat.date}}</span>
                                            <!-- <p text-wrap>chat.message</p> -->
                                            <p [innerHTML]="chat.message"></p>
                                            <a *ngIf="chat.fileName" class="message_File_Download_Link"
                                                (click)="DownloadMessageFile(chat.attachFile,chat.fileName)"><i
                                                    class="fas fa-arrow-to-bottom"></i>{{chat.fileName}}</a>
                                        </div>
                                        <!--in case firstDraftMessage-->
                                        <div *ngIf="chat.type=='firstDraftMessage'" class="right-bubble"
                                            [ngClass]="{'right-bubble': chat.nickname === nickname, 'firstDraftMessage-bubble': chat.nickname !== nickname}">
                                            <span class="msg-name" *ngIf="chat.nickname === nickname">Me</span>
                                            <span class="msg-name"
                                                *ngIf="chat.nickname !== nickname">{{chat.nickname}}</span>
                                            <span class="msg-date"> at {{chat.date}}</span>
                                            <!-- <p text-wrap>chat.message</p> -->
                                            <p [innerHTML]="chat.message"></p>
                                            <a *ngIf="chat.fileName" class="message_File_Download_Link"
                                                (click)="DownloadMessageFile(chat.attachFile,chat.fileName)"><i
                                                    class="fas fa-arrow-to-bottom"></i>{{chat.fileName}}</a>
                                        </div>
                                        <!--in case RevisionMessage-->
                                        <div *ngIf="chat.type=='adminRevisionMessage'" class="right-bubble"
                                            [ngClass]="{'right-bubble': chat.nickname === nickname, 'adminRevisionMessage-bubble': chat.nickname !== nickname}">
                                            <span class="msg-name" *ngIf="chat.nickname === nickname">Me</span>
                                            <span class="msg-name"
                                                *ngIf="chat.nickname !== nickname">{{chat.nickname}}</span>
                                            <span class="msg-date"> at {{chat.date}}</span>
                                            <!-- <p text-wrap>chat.message</p> -->
                                            <p [innerHTML]="chat.message"></p>
                                            <a *ngIf="chat.fileName"
                                                (click)="DownloadMessageFile(chat.attachFile,chat.fileName)"><i
                                                    class="fas fa-arrow-to-bottom"></i>{{chat.fileName}}</a>
                                        </div>
                                        <!--in case finalDraftMessage-->
                                        <div *ngIf="chat.type=='finalDraftMessage'" class="right-bubble"
                                            [ngClass]="{'right-bubble': chat.nickname === nickname, 'finalDraftMessage-bubble': chat.nickname !== nickname}">
                                            <span class="msg-name" *ngIf="chat.nickname === nickname">Me</span>
                                            <span class="msg-name"
                                                *ngIf="chat.nickname !== nickname">{{chat.nickname}}</span>
                                            <span class="msg-date"> at {{chat.date}}</span>
                                            <!-- <p text-wrap>chat.message</p> -->
                                            <p [innerHTML]="chat.message"></p>
                                            <a *ngIf="chat.fileName"
                                                (click)="DownloadMessageFile(chat.attachFile,chat.fileName)"><i
                                                    class="fas fa-arrow-to-bottom"></i>{{chat.fileName}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <!--end-->
                    <!--is jagha par rendered content place ho ga-->
                    <ng-container #outlet>
                    </ng-container>
                    <!--end-->
                </div>
                <div class="card-footer chat-editor-container">
                    <form [formGroup]="chatForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <span *ngFor="let item of files; let i=index">
                                    <p class="selectedFiles">
                                        {{item.name}}
                                    </p>
                                    <div *ngIf="showLoader && item==files[files.length-1]"
                                        class="spinner-border spinner-border-sm" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <i *ngIf="!showLoader || !(item==files[files.length-1])" (click)="deleteItem(i)"
                                        class="fal fa-times-circle"></i>
                                    &nbsp;&nbsp;&nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item" id="flex-item-1">
                                <div class="input-group-append" style="padding:0">
                                    <label for="fileMessage" class="input-group-text attach_btn"><i
                                            class="fas fa-paperclip"></i></label>
                                    <input #fileMessage id="fileMessage" type="file" class="" style="display:none"
                                        formControlName="attachFile" (change)="onFileChange($event)" multiple />
                                </div>
                            </div>
                            <div class="flex-item" id="flex-item-2">
                                <ckeditor [editor]="Editor" [(ngModel)]="ckContent" formControlName="message"
                                    (change)="send_btn_class($event)" [config]="config">
                                </ckeditor>
                            </div>
                            <div class="flex-item" id="flex-item-3">
                                <div class="input-group-append" style="padding:0">
                                    <button [ngClass]="{send_btn:send_btn_enable}" class="input-group-text"
                                        (click)="sendMessage(chatForm.value)"><i
                                            class="fas fa-location-arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <button #openChatbtn class="openChat" type="button" (click)="openChat(openChatbtn)">
                <i class="far fa-headset"></i>
            </button>
        </div>
    </div>
</div>