<div class="row">
    <div class="col-12">
        <tabset #orderTabs>
            <tab heading="Order Info">
                <div class="row">
                    <div class="d-flex col-12">
                        <div class="card flex-fill">
                            <ul class="ml-3">
                                <h4>{{order?.users[0].name}}</h4>
                                <!-- #{{order.id}} -->
                                <button *ngIf="order.status==3 || order.status==5" class="btn btn-primary"
                                    (click)="updateOrderStatus('approve')">Approve
                                    Draft</button>
                                <button *ngIf="order.status==3 || order.status==5" class="btn btn-danger"
                                    (click)="updateOrderStatus('revision')">Revision</button>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-8">
                        <!--Question-->
                        <div *ngIf="order.status==1"
                            class="card border-secondary d-flex flex-column justify-content-center align-items-center flex-fill">
                            <div class="card-header">
                                <h3>Please Fill up your Questionnaire :</h3>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <form [formGroup]="questionForm">
                                    <div *ngIf="us.chooseCV" class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>Upload Your Resume</strong></label>
                                        <input type="file" (change)="submitCV($event)" formControlName="resume" />
                                        <a *ngIf="!selectedResume" routerLink="resumedata">if you don't have a resume
                                            then click here</a>
                                        <br />
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>Kindly paste the link(s) of at least two jobs for which you are
                                                actively
                                                applying for</strong></label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q1"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                Do you want to have a general resume that can be applicable for several
                                                job
                                                postings, or a specific resume targeted to one particular
                                                position?</strong>
                                        </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q2"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                What is your targeted industry?</strong>
                                        </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Ex: IT/Technology, SaaS, Software"
                                            formControlName="q3"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                What are the areas of expertise that you would like to mention in your
                                                resume
                                                as keywords?</strong></label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Ex: Project Management, Social Media"
                                            formControlName="q4"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                What have been the biggest accomplishments during your career?</strong>
                                        </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q5"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                Have you received any honors or awards? What are they?</strong></label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q6"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                Do you have any special certifications/training to include in the
                                                resume?</strong>
                                        </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q7"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">
                                            <strong>
                                                What is your LinkedIn URL?</strong></label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                            placeholder="Enter your text here" formControlName="q8"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <input type="submit" class="btn btn-success btn-lg btn-block"
                                            [disabled]="questionForm.invalid && us.chooseCV"
                                            (click)="submitQuestion()" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--Question With Answer-->
                        <div *ngIf="order.status!=1"
                            class="card border-secondary d-flex flex-column justify-content-center align-items-center flex-fill">
                            <div class="row">
                                <div class="col-5">
                                    <ngx-doc-viewer
                                        url="https://firebasestorage.googleapis.com/v0/b/careerscriptchat.appspot.com/o/Atif_Ahmed.pdf?alt=media&token=99c96086-eeea-45d8-b2aa-19689445047b"
                                        viewer="google" style="width:100%;height:92%;" disableContent="all">
                                    </ngx-doc-viewer>
                                    <div class="text-center">
                                        <a href="{{mediaUrl}}answers_files/{{order.answers_file}}"><i
                                                class="fas fa-arrow-to-bottom"></i>Download</a>
                                    </div>
                                    <!-- <iframe [src]="mediaUrl+'answers_files/'+order.answers_file | safe" width="500px"
                                height="500px"></iframe> -->
                                </div>
                                <div class="col-7">
                                    <div class="MuiBox-root jss444 jss420">
                                        <div class="MuiBox-root jss445 jss422">
                                            <div class="MuiBox-root jss446 jss423">
                                                Iswaran Panneerselvam's goals
                                            </div>
                                            <div class="MuiBox-root jss447 jss424">Global Head of Compliance</div>
                                            <hr class="jss429">
                                            <div class="MuiBox-root jss448 jss425">
                                                <p class="MuiTypography-root jss426 MuiTypography-body2">
                                                    Financial Services (Banking, Lending, Investing, Real Estate)
                                                </p>
                                                <p class="MuiTypography-root jss426 MuiTypography-body2">
                                                    International
                                                </p>
                                            </div>
                                            <p class="MuiTypography-root jss427 MuiTypography-body2">
                                                Client Notes
                                            </p>
                                            <div class="MuiBox-root jss449 jss428">
                                                <p class="MuiTypography-root jss430 jss431 MuiTypography-body2">
                                                    Global Head of compliance and risk roles. in banking, blockchain
                                                    and Web3 and crypto exchanges plus custody
                                                </p>
                                            </div>
                                            <p class="MuiTypography-root jss432 MuiTypography-body2">See more</p>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                </div>
                            </div>
                            <div class="card-header">
                                <h3>Questionnaire :</h3>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="mb-3">
                                    <h5>
                                        Kindly paste the link(s) of at least two jobs for which you are actively
                                        applying
                                        for
                                    </h5>
                                    <p>{{questionaire_answer.q1}}</p>
                                </div>
                                <div class="mb-3">
                                    <h5>
                                        Do you want to have a general resume that can be applicable for several job
                                        postings, or a specific resume targeted to one particular position?
                                    </h5>
                                    <p>{{questionaire_answer.q2}}</p>
                                </div>
                                <div class="mb-3">
                                    <h5>
                                        What is your targeted industry?
                                    </h5>
                                    <p>{{questionaire_answer.q3}}</p>
                                </div>
                                <div class="mb-3">
                                    <h5>
                                        What are the areas of expertise that you would like to mention in your resume
                                        as
                                        keywords?
                                    </h5>
                                    <p>{{questionaire_answer.q4}}</p>
                                </div>
                                <div class="mb-3">
                                    <h5>
                                        What have been the biggest accomplishments during your career?
                                    </h5>
                                    <p>{{questionaire_answer.q5}}</p>
                                </div>
                                <div class="mb-3">
                                    <h5>
                                        Have you received any honors or awards? What are they?
                                    </h5>
                                    <p>{{questionaire_answer.q6}}</p>
                                </div>
                                <div class="mb-3">
                                    <h5>
                                        Do you have any special certifications/training to include in the resume?
                                    </h5>
                                    <p>{{questionaire_answer.q7}}</p>
                                </div>
                                <div class="mb-3">
                                    <h5>
                                        What is your LinkedIn URL?
                                    </h5>
                                    <p>{{questionaire_answer.q8}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-fill col-4">
                        <div class="card border-secondary mb-2" style="max-width: 18rem;">
                            <div class="card-header">
                                <h4>Order Detail</h4>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="row">
                                    <p class="col-4"><b>Price :</b></p>
                                    <p class="col-8 text-right">{{ order?.price | currency }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-4"><b>Status :</b></p>
                                    <p class="col-8 text-right"> {{ user_status[order?.status] }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-4"><b>Date :</b></p>
                                    <p class="col-8 text-right"> {{ order?.created_at | date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card border-secondary mb-2" style="max-width: 18rem;">
                            <div class="card-header">
                                <h4>Service / Package Detail</h4>
                            </div>
                            <div class="card-body d-flex flex-column list-inline">
                                <div class="row">
                                    <p class="col-6"><b>Service Type :</b></p>
                                    <p class="col-6 text-right">{{ order?.service_types[0].name }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-6"><b>Service /<br /> Package Name :</b></p>
                                    <p class="col-6 text-right"> {{ (order?.services.length >
                                        0)?order?.services[0].title:order?.packages[0].title }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-5"><b>Description :</b> </p>
                                    <p class="col-7 text-right">{{ (order?.services.length >
                                        0)?order?.services[0].description:order?.packages[0].description }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Chat" (selectTab)="enterChatRoom()">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <!-- <div class="user_info">
                                <span>Chat with Admin</span>
                                <p>1767 Messages</p>
                            </div> -->
                        </div>
                    </div>
                    <div #chatcontent [scrollTop]="scrolltop" class="card-body msg_card_body chat-content">
                        <div class="message-box" *ngFor="let chat of chats">
                            <div class="chat-status" text-center
                                *ngIf="chat.type==='join'||chat.type==='exit';else message">
                                <span class="chat-date">{{chat.date}}</span>
                                <span class="chat-content-center">{{chat.message}}</span>
                            </div>
                            <ng-template #message>
                                <div class="chat-message">
                                    <div class="right-bubble"
                                        [ngClass]="{'right-bubble': chat.nickname === nickname, 'left-bubble': chat.nickname !== nickname}">
                                        <span class="msg-name" *ngIf="chat.nickname === nickname">Me</span>
                                        <span class="msg-name"
                                            *ngIf="chat.nickname !== nickname">{{chat.nickname}}</span>
                                        <span class="msg-date"> at {{chat.date}}</span>
                                        <!-- <p text-wrap>chat.message</p> -->
                                        <p [innerHTML]="chat.message"></p>
                                        <a *ngIf="chat.fileName" class="message_File_Download_Link"
                                            (click)="DownloadMessageFile(chat.attachFile,chat.fileName)"><i
                                                class="fas fa-arrow-to-bottom"></i>{{chat.fileName}}</a>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <div class="card-footer">
                        <form [formGroup]="chatForm">
                            <div class="row" style="padding:0">
                                <div class="input-group-append" style="padding:0">
                                    <label for="fileMessage" class="input-group-text attach_btn"><i
                                            class="fas fa-paperclip"></i></label>
                                    <input #fileMessage id="fileMessage" type="file" class="" style="display:none"
                                        formControlName="attachFile" (change)="onFileChange($event)" multiple/>
                                </div>
                                <div class="col-lg-11 col-md-10 col-sm-9 col-8" style="padding:0">
                                    <ckeditor [(ngModel)]="ckContent" formControlName="message"
                                        (change)="send_btn_class($event)" [config]="{enterMode :2,
                                            shiftEnterMode:2,height:100,width:'100%'}">
                                        <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'"
                                            [label]="'Save Document'" [toolbar]="'clipboard,1'">
                                        </ckbutton>
                                    </ckeditor>
                                </div>
                                <div class="input-group-append" style="padding:0">
                                    <button [ngClass]="{send_btn:send_btn_enable}" class="input-group-text"
                                        (click)="sendMessage(chatForm.value)"><i
                                            class="fas fa-location-arrow"></i></button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <span *ngFor="let item of files; let i=index">
                                        <p class="selectedFiles">
                                            {{item.name}}
                                        </p>
                                            <div *ngIf="showLoader && item==files[files.length-1]" class="spinner-border spinner-border-sm" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        <i *ngIf="!showLoader || !(item==files[files.length-1])" (click)="deleteItem(i)" class="fal fa-times-circle"></i>
                                        &nbsp;&nbsp;&nbsp;
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </tab>
            <tab heading="Files">
                <div class="firstDraft">
                    <H2>First Draft</H2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td>Date</td>
                                <td>Download</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of draftFiles; let i=index">
                                <td *ngIf="item.file_status=='firstDraft'">{{i+1}}</td>
                                <td *ngIf="item.file_status=='firstDraft'">{{item.file}}</td>
                                <td *ngIf="item.file_status=='firstDraft'">{{item.date}}</td>
                                <td *ngIf="item.file_status=='firstDraft'"><a href="{{mediaUrl}}{{item.file_path}}"
                                        download="{{item.file}}" target="_blank"><i
                                            class="fas fa-arrow-to-bottom"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="firstDraft">
                    <H2>Revision</H2>
                    <div *ngFor="let item of draftFiles">
                        <div *ngIf="item.file_status=='revision'">
                            {{item.date}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{mediaUrl}}files/{{order.id}}/{{item.file}}" target="_blank"
                                download="{{item.file}}">{{item.file}}<i class="fas fa-arrow-to-bottom"></i></a>
                        </div>
                    </div>
                </div>
                <div class="firstDraft">
                    <H2>Final Draft</H2>
                    <div *ngFor="let item of draftFiles">
                        <div *ngIf="item.file_status=='finalDraft'">
                            {{item.date}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{mediaUrl}}files/{{order.id}}/{{item.file}}" target="_blank"
                                download="{{item.file}}">{{item.file}}<i class="fas fa-arrow-to-bottom"></i></a>
                        </div>
                    </div>
                </div>
                <div class="firstDraft">
                    <H2>Other Files</H2>
                    <div *ngFor="let item of draftFiles">
                        <div *ngIf="item.file_status=='others'">
                            {{item.date}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{mediaUrl}}files/{{order.id}}/{{item.file}}" target="_blank"
                                download="{{item.file}}">{{item.file}}<i class="fas fa-arrow-to-bottom"></i></a>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>