@font-face {
    font-family: Roboto-Regular;
    src: url(../../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../../assets/fonts/Roboto-Bold.ttf);
}

h1 {
    color: #282a41;
    font-weight: 600;
    margin-bottom: 12px;
}

.banner {
    align-items: center;
    background-color: #00a67d;
    //padding: 20px 35px;
    //height: 315px;
    //display: flex;

    .banner_img {
        height: 150px;
        margin: auto;
        text-align: center;
        width: 100%;
    }

    @media(min-width:495px) {
        .banner_img {
            height: 150px;
        }

        img {
            margin-top: 5px;
        }
    }

    @media(max-width:495px) {
        .banner_img {
            height: 175px;
            margin-top: 0px;
        }
    }

    .banner-text {
        h1 {
            color: #ffffff;
            font-weight: 600;
            line-height: 1.4;
            text-align: center;
        }

        p {
            color: #ffffff;
        }

        @media(min-width:830px) {
            p {
                position: absolute;
            }
        }
    }
}

.introduction {
    margin-top: 50px;

    h1 {
        color: #282a41;
        margin-bottom: 12px;
    }

    p {
        color: #7a7b86;
        line-height: 2;
    }

    ol li {
        color: #7a7b86;
        font-size: 20px;
        line-height: 2;
    }
}

.terms_conditions {

    h1 {
        color: #282a41;
        margin-bottom: 12px;
    }

    p {
        color: #7a7b86;
        line-height: 2;
    }
}