<app-header></app-header>

<div class="banner">
    <div class="container">
        <div class="banner_img">
            <img src="../../../assets/images/hiring.png" class="img-fluid" style="height:100%" />
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-text">
                    <h2>Frequently Asked Questions</h2>
                    <p style="margin-bottom:0;width:100%">Questions? Here's everything you need to know about Resume
                        Scripters that just help you.</p>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 170" style="background-color:#fafbf6;">
        <path fill="#00a67d" fill-opacity="1"
            d="M0,64L80,90.7C160,117,320,171,480,170.7C640,171,800,117,960,96C1120,75,1280,85,1360,90.7L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>
</div>

<div id="layout-wrapper">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content" style="margin-left:0">

        <div class="page-content">
            <div class="container-fluid">

                <div class="checkout-tabs">
                    <div class="row">
                        <div class="faq_category_options_desktop col-sm-3 col-md-3 col-lg-2">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-gen-ques-tab" data-bs-toggle="pill"
                                    href="#v-pills-gen-ques" role="tab" aria-controls="v-pills-gen-ques"
                                    aria-selected="true">
                                    <i class="fas fa-question d-block check-nav-icon mt-4 mb-2"></i>
                                    <p class="fw-bold mb-4">About Resume Scripters</p>
                                </a>
                                <a class="nav-link" id="v-pills-privacy-tab" data-bs-toggle="pill"
                                    href="#v-pills-privacy" role="tab" aria-controls="v-pills-privacy"
                                    aria-selected="false">
                                    <i class="fas fa-hand-holding-box d-block check-nav-icon mt-4 mb-2"></i>
                                    <p class="fw-bold mb-4">Our Services</p>
                                </a>
                                <a class="nav-link" id="v-pills-support-tab" data-bs-toggle="pill"
                                    href="#v-pills-support" role="tab" aria-controls="v-pills-support"
                                    aria-selected="false">
                                    <i class="fas fa-user-headset d-block check-nav-icon mt-4 mb-2"></i>
                                    <p class="fw-bold mb-4">Customer Support</p>
                                </a>
                            </div>
                        </div>
                        <div class="faq_category_options_mobile">
                            <div class="nav-pills" id="v-pills-tab" role="tablist">
                                <div class="row">
                                    <div class="col-4">
                                        <a class="nav-link active" id="v-pills-gen-ques-tab" data-bs-toggle="pill"
                                            href="#v-pills-gen-ques" role="tab" aria-controls="v-pills-gen-ques"
                                            aria-selected="true">
                                            <i class="fas fa-question d-block check-nav-icon mt-2 mb-2"></i>
                                            <p class="fw-bold">About US</p>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a class="nav-link col" id="v-pills-privacy-tab" data-bs-toggle="pill"
                                            href="#v-pills-privacy" role="tab" aria-controls="v-pills-privacy"
                                            aria-selected="false">
                                            <i class="fas fa-hand-holding-box d-block check-nav-icon mt-2 mb-2"></i>
                                            <p class="fw-bold">Our Services</p>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a class="nav-link col" id="v-pills-support-tab" data-bs-toggle="pill"
                                            href="#v-pills-support" role="tab" aria-controls="v-pills-support"
                                            aria-selected="false">
                                            <i class="fas fa-user-headset d-block check-nav-icon mt-2 mb-2"></i>
                                            <p class="fw-bold">Support</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-10">
                            <div>
                                <div>
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-gen-ques" role="tabpanel"
                                            aria-labelledby="v-pills-gen-ques-tab">
                                            <h4 class="card-title">About Resume Scripters</h4>
                                            <div class="faq-box d-flex mb-4">
                                                <div class="flex-shrink-0 me-3 faq-icon">
                                                    <i class="bx bx-help-circle font-size-20 text-success"></i>
                                                </div>
                                            </div>
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#collapse1">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> How do
                                                                I order
                                                                my resume?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="collapse1" class="panel-collapse collapse in">
                                                        <div class="panel-body">To order, you will need to
                                                            provide your
                                                            billing and contact
                                                            information.
                                                            Then, choose the best-suited package for you.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#collapse2">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> Why
                                                                should I
                                                                get my resume
                                                                written?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse">
                                                        <div class="panel-body">Your resume has to appeal to
                                                            both the
                                                            resume scanning
                                                            software
                                                            (ATS) and the hiring manager, so, working with a
                                                            professional resume writer
                                                            ensures your resume will not be passed over by
                                                            applicant
                                                            tracking software.
                                                            It also makes you more valuable in the eyes of
                                                            recruiters.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#collapse3">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> What
                                                                kind of
                                                                industries do you
                                                                specialize in?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="collapse3" class="panel-collapse collapse">
                                                        <div class="panel-body">Nearly all of them! We have a
                                                            team of
                                                            qualified experts with
                                                            experience across IT, Finance, Business Development,
                                                            Marketing, Nursing,
                                                            Healthcare, Education, Computer Engineering, Law
                                                            Enforcement, Construction,
                                                            and more from small start-ups to Fortune 500s.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#collapse4">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> How do
                                                                I order
                                                                my resume?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="collapse4" class="panel-collapse collapse in">
                                                        <div class="panel-body">To order, you will need to
                                                            provide your
                                                            billing and contact
                                                            information.
                                                            Then, choose the best-suited package for you.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#collapse5">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> Why
                                                                should I
                                                                get my resume
                                                                written?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="collapse5" class="panel-collapse collapse">
                                                        <div class="panel-body">Your resume has to appeal to
                                                            both the
                                                            resume scanning
                                                            software
                                                            (ATS) and the hiring manager, so, working with a
                                                            professional resume writer
                                                            ensures your resume will not be passed over by
                                                            applicant
                                                            tracking software.
                                                            It also makes you more valuable in the eyes of
                                                            recruiters.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#collapse6">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> What
                                                                kind of
                                                                industries do you
                                                                specialize in?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="collapse6" class="panel-collapse collapse">
                                                        <div class="panel-body">Nearly all of them! We have a
                                                            team of
                                                            qualified experts with
                                                            experience across IT, Finance, Business Development,
                                                            Marketing, Nursing,
                                                            Healthcare, Education, Computer Engineering, Law
                                                            Enforcement, Construction,
                                                            and more from small start-ups to Fortune 500s.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-privacy" role="tabpanel"
                                            aria-labelledby="v-pills-privacy-tab">
                                            <h4 class="card-title">Our Services</h4>
                                            <div class="panel-group" id="services">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#services"
                                                                href="#service1">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> Do you
                                                                tailor resumes and cover
                                                                letters to specific jobs?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="service1" class="panel-collapse collapse in">
                                                        <div class="panel-body">Yes, we sure do! We consider
                                                            ourselves to be quite versatile
                                                            with creating resumes and cover letters that
                                                            resonate with specific jobs of
                                                            interest. We can also create general ones upon your
                                                            request.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#services"
                                                                href="#service2">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> What
                                                                resume templates do you
                                                                offer?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="service2" class="panel-collapse collapse">
                                                        <div class="panel-body">We offer a variety of templates,
                                                            which are tested and
                                                            proven to immediately capture the attention of
                                                            employers. They range
                                                            from simple, traditional to fancy-style ones with a
                                                            modern appeal that pass ATS.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#services"
                                                                href="#service3">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> How
                                                                soon can I get my order done?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="service3" class="panel-collapse collapse">
                                                        <div class="panel-body">Effective resumes and cover
                                                            letters require extensive
                                                            research of the specific industry and job position
                                                            you're applying to.
                                                            Our turnaround time is usually between 2-4 days,
                                                            depending on the
                                                            current state of your resume and your requirements.
                                                            However, we do
                                                            offer same day delivery at an extra cost.
                                                        </div>
                                                    </div>
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#services"
                                                                href="#service4">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> Do you
                                                                tailor resumes and cover
                                                                letters to specific jobs?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="service4" class="panel-collapse collapse in">
                                                        <div class="panel-body">Yes, we sure do! We consider
                                                            ourselves to be quite versatile
                                                            with creating resumes and cover letters that
                                                            resonate with specific jobs of
                                                            interest. We can also create general ones upon your
                                                            request.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#services"
                                                                href="#service5">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> What
                                                                resume templates do you
                                                                offer?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="service5" class="panel-collapse collapse">
                                                        <div class="panel-body">We offer a variety of templates,
                                                            which are tested and
                                                            proven to immediately capture the attention of
                                                            employers. They range
                                                            from simple, traditional to fancy-style ones with a
                                                            modern appeal that pass ATS.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#services"
                                                                href="#service6">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> How
                                                                soon can I get my order done?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="service6" class="panel-collapse collapse">
                                                        <div class="panel-body">Effective resumes and cover
                                                            letters require extensive
                                                            research of the specific industry and job position
                                                            you're applying to.
                                                            Our turnaround time is usually between 2-4 days,
                                                            depending on the
                                                            current state of your resume and your requirements.
                                                            However, we do
                                                            offer same day delivery at an extra cost.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-support" role="tabpanel"
                                            aria-labelledby="v-pills-support-tab">
                                            <h4 class="card-title mb-5">Customer Support</h4>
                                            <div class="panel-group" id="support">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#support"
                                                                href="#support1">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> Do you
                                                                accept custom offers?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="support1" class="panel-collapse collapse in">
                                                        <div class="panel-body">We certainly do! If you're not
                                                            sure which of my packages is
                                                            right for you or if your request is rather
                                                            complicated, please feel free to
                                                            send us a message. We respond in 24 hours or less to
                                                            all customer inquiries.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#support"
                                                                href="#support2">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> Will
                                                                my personal information be
                                                                safe?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="support2" class="panel-collapse collapse">
                                                        <div class="panel-body">Yes! We ensure 100% client
                                                            confidentiality. All information
                                                            shared between us will remain secure and will never
                                                            be shared.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#support"
                                                                href="#support3">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> How
                                                                many revisions will you offer?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="support3" class="panel-collapse collapse">
                                                        <div class="panel-body">We offer two rounds of
                                                            revisions. If you are not satisfied
                                                            with the final product, we’ll rewrite your resume
                                                            free of charge.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#support"
                                                                href="#support4">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> Do you
                                                                accept custom offers?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="support4" class="panel-collapse collapse in">
                                                        <div class="panel-body">We certainly do! If you're not
                                                            sure which of my packages is
                                                            right for you or if your request is rather
                                                            complicated, please feel free to
                                                            send us a message. We respond in 24 hours or less to
                                                            all customer inquiries.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#support"
                                                                href="#support5">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> Will
                                                                my personal information be
                                                                safe?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="support5" class="panel-collapse collapse">
                                                        <div class="panel-body">Yes! We ensure 100% client
                                                            confidentiality. All information
                                                            shared between us will remain secure and will never
                                                            be shared.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#support"
                                                                href="#support6">
                                                                <i
                                                                    class="fal fa-question-circle font-size-20 text-success"></i>
                                                                <span class="fa fa-chevron-right"></span> How
                                                                many revisions will you offer?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div id="support6" class="panel-collapse collapse">
                                                        <div class="panel-body">We offer two rounds of
                                                            revisions. If you are not satisfied
                                                            with the final product, we’ll rewrite your resume
                                                            free of charge.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<div class="mt-5"></div>
<app-footer></app-footer>