<app-header [navbarClass] = "navbarClass"></app-header>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-text">
                    <h1>Frequently Asked Questions</h1>
                    <p>Questions? Here's everything you need to know about CareerScripters that just help you.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-us-form">
    <div class="container">
        <div class="row">
            <div class="contact-form">
                <div class="row">
                    <div class="col-lg-3 pt-5 pl-5 pr-5">
                        <h1>About Career Scripters</h1>
                    </div>
                    <div class="col-lg-9 pt-5 pr-5">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            <span class="fa fa-chevron-right"></span> How do I order my resume?
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">To order, you will need to provide your billing and contact information. 
                                        Then, choose the best-suited package for you.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            <span class="fa fa-chevron-right"></span> Why should I get my resume written?
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">Your resume has to appeal to both the resume scanning software 
                                        (ATS) and the hiring manager, so, working with a professional resume writer 
                                        ensures your resume will not be passed over by applicant tracking software. 
                                        It also makes you more valuable in the eyes of recruiters.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                            <span class="fa fa-chevron-right"></span> What kind of industries do you specialize in?
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">Nearly all of them! We have a team of qualified experts with 
                                        experience across IT, Finance, Business Development, Marketing, Nursing, 
                                        Healthcare, Education, Computer Engineering, Law Enforcement, Construction, 
                                        and more from small start-ups to Fortune 500s.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pt-5 pl-5 pr-5">
                        <h1>Our Services</h1>
                    </div>
                    <div class="col-lg-9 pt-5 pr-5">
                        <div class="panel-group" id="services">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#services" href="#service1">
                                            <span class="fa fa-chevron-right"></span> Do you tailor resumes and cover letters to specific jobs?
                                        </a>
                                    </h2>
                                </div>
                                <div id="service1" class="panel-collapse collapse in">
                                    <div class="panel-body">Yes, we sure do! We consider ourselves to be quite versatile 
                                        with creating resumes and cover letters that resonate with specific jobs of 
                                        interest. We can also create general ones upon your request.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#services" href="#service2">
                                            <span class="fa fa-chevron-right"></span> What resume templates do you offer?
                                        </a>
                                    </h2>
                                </div>
                                <div id="service2" class="panel-collapse collapse">
                                    <div class="panel-body">We offer a variety of templates, which are tested and 
                                        proven to immediately capture the attention of employers. They range 
                                        from simple, traditional to fancy-style ones with a modern appeal that pass ATS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#services" href="#service3">
                                            <span class="fa fa-chevron-right"></span> How soon can I get my order done?
                                        </a>
                                    </h2>
                                </div>
                                <div id="service3" class="panel-collapse collapse">
                                    <div class="panel-body">Effective resumes and cover letters require extensive 
                                        research of the specific industry and job position you're applying to. 
                                        Our turnaround time is usually between 2-4 days, depending on the 
                                        current state of your resume and your requirements. However, we do 
                                        offer same day delivery at an extra cost.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pt-5 pl-5 pr-5">
                        <h1>Customer Support</h1>
                    </div>
                    <div class="col-lg-9 pt-5 pr-5">
                        <div class="panel-group" id="support">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#support" href="#support1">
                                            <span class="fa fa-chevron-right"></span> Do you accept custom offers?
                                        </a>
                                    </h2>
                                </div>
                                <div id="support1" class="panel-collapse collapse in">
                                    <div class="panel-body">We certainly do! If you're not sure which of my packages is 
                                        right for you or if your request is rather complicated, please feel free to 
                                        send us a message. We respond in 24 hours or less to all customer inquiries.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#support" href="#support2">
                                            <span class="fa fa-chevron-right"></span> Will my personal information be safe?
                                        </a>
                                    </h2>
                                </div>
                                <div id="support2" class="panel-collapse collapse">
                                    <div class="panel-body">Yes! We ensure 100% client confidentiality. All information 
                                        shared between us will remain secure and will never be shared.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#support" href="#support3">
                                            <span class="fa fa-chevron-right"></span> How many revisions will you offer?
                                        </a>
                                    </h2>
                                </div>
                                <div id="support3" class="panel-collapse collapse">
                                    <div class="panel-body">We offer two rounds of revisions. If you are not satisfied 
                                        with the final product, we’ll rewrite your resume free of charge.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5"></div>
<app-footer></app-footer>