<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" data-aos="fade-down" data-aos-duration="1000">
                <div class="card-body">
                    <form [formGroup]="checkoutForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Full Name</label>
                                <input type="text" placeholder="Full Name" formControlName="name" class="form-control" id="name">
                                <span *ngIf="name && name.invalid && name.touched">This Field is invalid</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phone_number">Phone Number</label>
                                <input type="number" placeholder="Phone Number" formControlName="phone_number" class="form-control" id="phone_number">
                                <br/>
                                <span *ngIf="phone_number && phone_number.invalid && phone_number.touched">This Field is invalid</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="Email">Email</label>
                            <input type="email" placeholder="name@email.com" formControlName="email" class="form-control" id="Email">
                            <span *ngIf="email && email.invalid && email.touched">This Field is invalid</span>
                        </div>
                        <div>
                            <div class="modal-body">
                                <div id="card-info" #cardInfo class="w-100" style="direction: ltr !important;">
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="submit" class="btn btn-primary" (click)="createStripeToken()">
                                    Pay ${{_totalAmount}}
                                </button> -->
                            </div>
                        </div>
                            <button [disabled]="((checkoutForm.valid==true) && (cardError==null)) ? false:true" (click)="createStripeToken()" type="submit" class="btn btn-danger">Pay Now</button>
                    </form>
                </div>
            </div>       
        </div>
        <div class="col-md-6">
            <h1>Package Detail</h1>
            <div class="pricing">
                <div class="container">
                    <div class="row">
                            <div class="card" data-aos="fade-down" data-aos-duration="1000">
                                <div class="card-title pt-2">
                                    <span>{{selectedPackage.title}}</span><span class="float-right mr-3">{{selectedPackage.price | currency}}</span>
                                </div>
                                <div class="card-body">
                                        <!-- <p class="card-price">$100</p> -->
                                    <h3>{{selectedPackage.description}}</h3>
            
                                    <div class="true" *ngFor="let service of selectedPackage.services; let j = index;">
                                        <div class="heading">
                                            <h4>{{service.title}}</h4>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<app-footer></app-footer>
