@font-face {
    font-family: Roboto-Regular;
    src: url(../../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../../assets/fonts/Roboto-Bold.ttf);
}

h1 {
    color: #122c34;
    font-family: Roboto-Bold;
}

h2 {
    color: #006459;
    font-family: Roboto-Medium;
}

h3 {
    color: #6e7160;
    font-family: Roboto-Medium;
}

.more-btn {
    background-color: #00a67d;
    box-shadow: -12px 10px 0px 0px rgba(255, 224, 143, 1);
    color: #fff;
    display: inline-block;
    font-family: Roboto-Regular;
    margin-top: 15px;
    padding: 20px 60px;
    text-decoration: none;
    -webkit-box-shadow: -12px 10px 0px 0px rgba(255, 224, 143, 1);
    -moz-box-shadow: -12px 10px 0px 0px rgba(255, 224, 143, 1);
}

.login-body {
    background: #f8f9fa;

    .login-bg {
        align-items: center;
        background-color: #00a67e;
        display: flex;
        justify-content: center;
    }

    .login-form {
        align-items: center;
        justify-content: center;
        width: 100%;

        .login-form-2 {
            //box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
            padding: 0% 6%;
            width: 100%;
        }

        form {
            label {
                color: #6e7160;
                font-family: Roboto-Medium;
                margin-bottom: 4px;
            }

            .links {
                margin-bottom: 0px;

                a {
                    color: #343434;
                    margin-bottom: 15px;
                    margin-top: 0px;
                }
            }

            .btnSubmit {
                background-color: #00a67e;
                border-radius: 3px;
                border: none;
                cursor: pointer;
                color: #fff;
                font-weight: 600;
                margin-top: 30px;
                padding: 2.2%;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 300px) {
    .login-bg {
        align-items: center;
        background-color: #00a67e;
        display: flex;
        height: auto !important;
        justify-content: center;
    }

    .login-form {
        padding-bottom: 50px;
    }
}

.card-body {
    padding: 0px 1.125rem;
}

.login-body {
    border-radius: 15px;

    .bg-primary.bg-soft {
        background-color: #cdeee4 !important;
        padding: 5px 0px;

        .row {
            margin: 0;

            .col-8 {
                color: #000000;
            }
        }
    }
}

.content {
    overflow: hidden;
    position: absolute;
    left: 40%;
    top: 45%;
    z-index: 1;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.btnLogin {
    background-color: #00a67e;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 2.2%;
}

@media(max-width:458px) {
    .registration_banner_text{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .registration_banner_img {
        display: none;
    }
}