<app-header></app-header>
<!-- Contact Us form -->
<div class="banner">
    <div class="container">
        <div class="banner_img">
            <img src="../../../assets/images/hiring.png" class="img-fluid" style="height:100%" />
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-text">
                    <h2>Receive $30 for every friend you help land more interviews!
                        Get started below.</h2>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 170" style="background-color:#fafbf6;">
        <path fill="#00a67d" fill-opacity="1"
            d="M0,64L80,90.7C160,117,320,171,480,170.7C640,171,800,117,960,96C1120,75,1280,85,1360,90.7L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>
</div>
<div class="contact-us-form">
    <div class="container contact-form">
        <div class="row">
            <div class="col-12">
                <div class="form">
                    <h3 class="form-headline text-center">Do you know a friend, relative, or professional who is
                        currently
                        unemployed or looking
                        to make a job change soon?
                        Refer them to a Resume Scripters writer today.
                        Help them, help yourself!</h3>
                    <form id="submit-form" action="">
                        <div class="row">
                            <p class="col-12">
                                <input id="name" class="form-input" type="text"
                                    placeholder="What is the full name of the referral?*">
                                <small class="name-error"></small>
                            </p>
                            <p class="col-12">
                                <input id="name" class="form-input" type="text"
                                    placeholder="What is their major, university, and graduation date?">
                                <small class="name-error"></small>
                            </p>
                            <div class="col-12" style="padding:10px">
                                <div style="background-color:white;padding:20px;height:100%">
                                    Are they on Linkedin already?<br />
                                    <span class="mr-3">
                                        <input type="radio" value="yes">&nbsp;yes<br/>
                                    </span>
                                    <span class="mr-3">
                                        <input type="radio" value="yes">&nbsp;No<br/>
                                    </span>
                                    <span class="mr-3">
                                        <input type="radio" value="yes">&nbsp;Maybe<br/>
                                    </span>
                                    <small class="name-error"></small>
                                </div>
                            </div>
                            <div class="col-12" style="padding:10px;">
                                <div style="background-color:white;padding:20px;">
                                    What do you think they need help with?*<br />
                                    <input type="checkbox" value="yes">&nbsp;Professional Resume Writing<br />
                                    <input type="checkbox" value="yes">&nbsp;Linkedin Profile Development<br />
                                    <input type="checkbox" value="yes">&nbsp; Landing More Interviews
                                    <small class="name-error"></small>
                                </div>
                            </div>
                            <p class="col-12">
                                <input id="email" class="form-input" type="email" placeholder="What is their email?">
                                <small class="name-error"></small>
                            </p>
                        </div>

                        <div class="row">
                            <p class="col-12" style="color:red">
                                Remember! You get paid once an order is submitted
                            </p>
                        </div>
                        <div clss="row" style="padding:0">
                            <p class="col-12" style="padding:0">
                                <input type="submit" class="submit-btn mb-4" value="Submit"
                                    onclick="checkValidations()">
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Us form -->

<div class="mt-5"></div>
<app-footer></app-footer>