/* CSS of Price Packaging start from here  */
@font-face{
    font-family: Roboto-Regular;
    src: url(../../../assets/fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: Roboto-Medium;
    src: url(../../../assets/fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: Roboto-Bold;
    src: url(../../../assets/fonts/Roboto-Bold.ttf);
}

h1{
    font-family: Roboto-Bold;
    font-size: 50px;
}
h2{
    font-family: Roboto-Medium;
    font-size: 30px;
}
h3{
    font-family: Roboto-Regular;
    font-size: 20px;
}
.silver{
    background-color: #A9A9A9 !important;
}
.golden{
    background-color: #DAA520 !important;
}
.platinum{
    background-color: #122c34 !important;
}
.more-btn{
    background-color: #00a67d;
    text-decoration: none;
    display: inline-block;
    padding: 20px 60px;
    margin-top: 15px;
    color: #fff;
    transition: 0.6s;
    border-radius: 10px;
    box-shadow: -6px 4px 0px 0px rgba(255,224,143,1);
    -webkit-box-shadow: -6px 4px 0px 0px rgba(255,224,143,1);
    -moz-box-shadow: -6px 4px 0px 0px rgba(255,224,143,1);
    &:hover{
        background-color: #122c34;
        box-shadow: -12px 10px 0px 0px rgba(255,224,143,1);
        -webkit-box-shadow: -12px 10px 0px 0px rgba(255,224,143,1);
        -moz-box-shadow: -12px 10px 0px 0px rgba(255,224,143,1);
    }
}

.banner{
    background-color: #00a67d;
    padding-bottom: 40px;
    padding-top: 40px;
    height: 315px;
    display: flex;
    align-items: center;
    .banner-content{
        text-align: center;
        width: 100%;
        h1{
            font-family: Roboto-Medium;
            color: #fff;
        }
        p{
            font-family: Roboto-Regular;
            line-height: 1.6;
            margin-top: 10px;
            color: #fff;
            font-size: 25px;
        }
    }
}
/*Price section */
.pricing{
    padding-bottom: 40px;
    width: 100%;
    .price-heading{
        text-align: center;
        margin: auto;
        width: 50%;
    }
    .card{
        border-radius: 12px;
        -webkit-box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%); 
        box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
        .card-title{
            transition: 0.6s;
            background-color: #036459;
            margin-bottom: 12px;
            // padding-left: 20px;
            padding-bottom: 6px;
            color: #fff;
            font-size: 30px;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
        }
        
        .card-body{
            padding-top: 0rem;
            h3{
                color: #6e7160;
            }
            // .card-price{
            //     font-family: Roboto-Bold;
            //     margin-bottom: 0px;
            //     color: #00a67d;
            //     line-height: 1.2;
            //     font-size: 50px;
            // }
            h3{
                font-family: Roboto-Medium;
                font-size: 16px;
            }
        }
        .true{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 10px 10px 10px;
            .heading{
                h4{
                    font-family: Roboto-Medium;
                    margin-bottom: 0px;
                    color: #000000;
                    font-size: 16px;
                }
                p{
                    font-family: Roboto-Regular;
                    margin-bottom: 0px;
                    color: #787d8e;
                }
            }
            .icon{
                i{
                    color: #00a67d;
                }
            }
        }
        .false{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 20px 0px 20px;
            .heading{
                h4{
                    font-family: Roboto-Medium;
                    margin-bottom: 0px;
                    color: #c1c1c1;
                    font-size: 16px;
                }
                p{
                    font-family: Roboto-Regular;
                    margin-bottom: 0px;
                    color: #cacaca;
                }
            }
            .icon{
                i{
                    color: red;
                }
            }
        }
        .more-btn{
            width: 220px;
        }
    }

}

.show-less{
    height: 4rem;
    overflow: hidden;
    padding: 1rem;
}

/*Other Plans*/
.other-plans{
    margin-top: 50px;
    h1{
        font-family: Roboto-Medium;
        font-size: 40px;
    }
    .content{
        border: 1px solid #e3e6ef;
        background-color: #fff;
        border-radius: 12px;
        margin-top: 25px;
        padding: 50px 30px;
        
        h3{
            font-family: Roboto-Medium;
            margin-bottom: 0px;
            color: #7a7d9b;
            line-height: 2;
            display: -webkit-box;
            max-width: 100%;
            height: 160px;
            margin: 0 auto;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .btn{
            background-color: #00a67d;
            padding: 10px 25px;
            margin-top: 15px;
            color: #fff;
            transition: 0.6s;
            border-radius: 10px;
            box-shadow: -6px 4px 0px 0px #ffe08f;
            -webkit-box-shadow: -6px 4px 0px 0px #ffe08f;
            &:hover{
                background-color: #122c34;
                box-shadow: -8px 8px 0px 0px #ffe08f;
                -webkit-box-shadow: -8px 8px 0px 0px #ffe08f;
            }
        }
    }
}

.contact-us-form{
    margin-top: 40px;
    .contact-form{
        background-color: #ffffff;
        border: 1px solid #d1d5e2;
        border-radius: 12px;
        margin-right: 15px;
        margin-left: 15px;
        width: 100%;
        h1{
            font-family: Roboto-Medium;
            color: #282a41;
            font-size: 30px;
        }
        .panel-group{
            .panel{
                border-bottom: 1px solid #dadada;
                .panel-heading{
                    h2{
                        a{
                            font-family: Roboto-Medium;
                            text-decoration: none;
                            color: #7b7b86;
                            font-size: 18px;
                            span{
                                float: right;
                            }
                        }
                    }
                }
                .panel-collapse{
                    .panel-body{
                        font-family: Roboto-Regular;
                        margin-bottom: 15px;
                        color: #88888a;
                        font-size: 16px;
                    }
                }
            }
        }
        
    }
}



@media screen and (min-width: 300px) and (max-width: 799px){
    .banner{
        background-color: #00a67d;
        padding: 20px;
        height: auto;
        img{
            display: none;
        }
        .banner-content{
            position: initial;
            h1{
                font-size: 36px;
            }
            h2{
                font-size: 24px;
                width: 100%;
            }
            p{
                width: 100%;
                font-size: 20px;
            }
        }
    }
    .pricing{
        position: initial;
    }
    .other-plans{
        .content{
            h3{
                -webkit-line-clamp: 5;
                font-size: 16px;
            }
        }
    }
}


@media screen and (min-width: 900px) and (max-width: 1325px){
    .banner{
        .banner-content{
            top: 50px;
            h2{
                width: 80%;
            }
        }
    }
    .pricing{
        top: 270px;
    }
    .more-btn{
        padding: 14px 35px;
    }
}

@media screen and (min-width: 1325px) and (max-width: 1440px){
    .banner{
        .banner-content{
            top: 50px;
            h2{
                width: 70%;
            }
        }
    }
    .pricing{
        top: 290px;
    }
    
}