@font-face{
    font-family: Roboto-Regular;
    src: url(../../../assets/fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: Roboto-Medium;
    src: url(../../../assets/fonts/Roboto-Medium.ttf);
}
.navbar1{
    background-color: transparent;
    padding-bottom: 15px;
    padding-top: 40px;
        .navigation{
            justify-content: flex-end;
            .navigation-links{
                .dropdown-slide{
                    .nav-link{
                        color: #fff;
                    }
                    a{
                        font-family: Roboto-Medium;
                        cursor: pointer;
                        color: #7b7b86;
                    }
                    .dropdown-toggle::after {
                        display: inline-block;
                        margin-left: 2px;
                        vertical-align: 2px;
                        content: "";
                        border-top: 7px solid;
                        border-right: 7px solid transparent;
                        border-bottom: 0;
                        border-left: 7px solid transparent;
                        border-radius: 5px;
                    }
                    .dropdown-menu{
                        background-color: #fff;
                        color: #7b7b86;
                        transform: translateX(-25%) translateY(0.7rem);
                        .dropdown-item:focus, .dropdown-item:hover {
                            text-decoration: none;
                            background-color: #00a67d;
                            color: #fff !important;
                        }
                    }
                    
                }
                .navigation-anchor{
                    font-family: Roboto-Medium;
                    margin-right: 29px;
                    color: #fff;
                    padding: 0px;
                }
                a:hover{
                    color: #00a67d !important;
                }
                
            }
            ul{
                
                form{
                    a{
                        border: 1px solid #e8c321;
                        padding: 6px 20px;
                        border-radius: 4px;
                        color: #e8c321;
                    }
                }
            }
        }
    
    .login-btn{
        a{
            font-family: Roboto-Medium;
            border: 1px solid #fff;
            padding: 12px 32px;
            border-radius: 0px;
            color: #fff;
            transition: 0.6s;
            margin: 0px 5px;
        }
        a:hover{
            background-color: #fff;
            border: 1px solid #fff;
            color: #000;
        }
    }
    
}

.navbar2{
    background-color: transparent;
    padding-bottom: 15px;
    padding-top: 15px;
        .navigation{
            justify-content: flex-end;
            .navigation-links{
                .dropdown-slide{
                    a{
                        font-family: Roboto-Medium;
                        cursor: pointer;
                        color: #7b7b86;
                    }
                    .dropdown-toggle::after {
                        display: inline-block;
                        margin-left: 2px;
                        vertical-align: 2px;
                        content: "";
                        border-top: 7px solid;
                        border-right: 7px solid transparent;
                        border-bottom: 0;
                        border-left: 7px solid transparent;
                        border-radius: 5px;
                    }
                    .dropdown-menu{
                        background-color: #fff;
                        transform: translateX(-25%) translateY(0.7rem);
                        .dropdown-item:focus, .dropdown-item:hover {
                            text-decoration: none;
                            background-color: #00a67d;
                            color: #fff !important;
                        }
                    }
                    
                }
                .navigation-anchor{
                    font-family: Roboto-Medium;
                    margin-right: 29px !important;
                    color: #7b7b86;
                    padding: 0px;
                }
                a:hover{
                    color: #00a67d !important;
                }
                
            }
            ul{
                
                form{
                    a{
                        border: 1px solid #e8c321;
                        padding: 6px 20px;
                        border-radius: 4px;
                        color: #e8c321;
                    }
                }
            }
        }
    
    .login-btn{
        a{
            font-family: Roboto-Medium;
            border: 1px solid #00a67d;
            padding: 12px 32px;
            border-radius: 0px;
            color: #00a67d;
            transition: 0.6s;
            margin-left: 5px;
            margin-right: 5px;
        }
        a:hover{
            background-color: #fff;
            border: 1px solid #7b7b86;
            color: #000;
        }
    }
    .navbar-toggler {
        color: rgb(0 0 0 / 50%);
        border-color: rgba(255,255,255,.1);
    }
}

// .dropdown-menu{
//     display:block; 
//     display: none;  
//     visibility: hidden; 
//     transition:.3s; 
//     margin-top:0;
// }
// .dropdown-hover:hover .dropdown-menu{
//     transition: .3s; 
//     display: block; 
//     visibility:visible; 
//     top:100%; 
//     transform: rotateX(0deg);
// }
.dropdown-menu::before, .dropdown-menu::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -6px;
}
.dropdown-menu:before{
    width: 100%;
    height: 2rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.dropdown-menu:after{
    border: 7px solid #fff;
    border-color: #fff transparent transparent #fff;
    -webkit-box-shadow: -1px -1px 0 rgb(32 33 36 / 10%);
    box-shadow: -1px -1px 0 rgb(32 33 36 / 10%);
    width: 1rem;
    height: 1rem;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}



@media only screen and (max-width: 500px) and (min-width: 300px){
    .navbar{
        padding-top: 15px;
        .navigation-links{
            li{
                margin-bottom: 15px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .dropdown-menu{
        background-color: #fff;
        color: #7b7b86;
        transform: translateX(0%) translateY(-0.3rem) !important;
        width: 100%;
    }
    .navbar-nav .dropdown-menu{
        position: absolute;
    }
    .navigation-anchor{
        margin-bottom: 15px !important;
    }
    .login-btn{
        a{
            margin-bottom: 20px !important;
        }
    }
}

@media only screen and (min-width: 992px){
    .dropdown-menu{
        display:block; 
        display: none;  
        visibility: hidden; 
        transition:.3s; 
        margin-top:0;
    }
    .dropdown-hover:hover .dropdown-menu{
        transition: .3s; 
        display: block; 
        visibility:visible; 
        top:100%; 
        transform: rotateX(0deg);
    }
}