/* bar chart */
$Largura-Barra: 40px;
$MaxHeight: 300px;

.grafico {
    .content {
        display: flex;
        flex-direction: row;
        height: $MaxHeight;
        width: 100%;

        span {
            color: #707070;
            font-family: 'Roboto';
            font-size: 13px;
        }
    }

    .line {
        background-color: #CCCCCC;
        height: 1px;
        margin-top: 5px;
        margin-bottom: 15px;
        width: 100%;
    }

    .legends {
        color: #707070;
        display: flex;
        flex-direction: row;
        font-family: 'Roboto';
        font-size: 12px;
        text-align: center;

        span {
            margin: 0 15px;
            width: $Largura-Barra;
        }
    }

    .bars {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
    }

    .bar {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        min-height: 2px;
        margin: 0 15px;
        width: $Largura-Barra;

        &:hover {
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.20);
            transform: translateY(-1px);
        }
    }
}