/* CSS of CAREER ADVICE start form here  */

// .resume-writing .bg-img{
//     background: url("../../../assets/images/business-idea.jpg");
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//     height: 412px;
// }
.resume-writing .bg-img:after{
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70%;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.resume-writing .bg-img-right-top{
    background: url("../../../assets/images/dream.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 206px;
    margin-top: 1px;
}
.resume-writing .bg-img-right-top:after{
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70%;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    margin: 0px 4px;
}
.resume-writing .bg-img-right-bottom{
    background: url("../../../assets/images/greenbox.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 206px;
    margin-top: 1px;
}
.resume-writing .bg-img-right-bottom:after{
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70%;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    margin: 0px 4px;
}

.resume-writing .heading-text{
    padding: 25px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
    line-height: 10px;
    transition: all .3s ease;
}
.resume-writing .heading-text:hover{
    transition: all .3s ease;
    padding-left: 50px;
}
.resume-writing h4{
    line-height: .8;
}
.resume-writing .firstheading{
    font-size: 30px;
}
.resume-writing .date{
    font-size: 18px;
}

.coverletter .card{
    border: none;
}
.coverletter .card h4 a{
    color: #20b0a8;
}
.coverletter .card h4 a:hover{
    color: #20b0a8;
}
.coverletter .card-text{
    color: #bdbdbd;
}
.coverletter .card-text a{
    text-decoration: underline;
    color: #6c757d;
}
.coverletter .card-text a:hover{
      color: #20b0a8;
}
.coverletter .views{
    float: right;
}

@media screen and (max-width: 991px){
    .coverletter .card{
        width: 100%;
    }
    .card-text{
        font-size: 13px;
    }
    .card-title{
        font-size: 18px;
    }
}
@media screen and (max-width: 771px){

    .card-text{
        font-size: 16px;
    }
    .card-title{
        font-size: 25px;
    }

}

@media screen and (max-width: 400px){
    .resume-writing h4{
        font-size: 20px !important;
    }
}
/* MEDIA QUERY of CAREER ADVICE end here  */

.sectionSeven{
    background-color: #e9c322;
    padding-bottom: 60px;
    padding-top: 60px;
    .box-center{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box{
        text-align: center;
        h2{
            font-weight: bold;
            color: #fff;
        }
        h3{
            background: #fff;
            border-radius: 50%;
            color: #e9c322;
            font-size: 16px;
            padding: 16px;
        }
        button{
            background-color: #fff;
        }
    }
}