//Background Blur Code Start
.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

//Background Blur Code End

// Loading Code Start
.content {
    overflow: hidden;
    padding: 15px;
}

//Loading Code End

//tabset Code Start

//order info tab code start

//send draft btn code start
.send_draft_btn_div {
    position: relative;
    height: 50px;

    .send_draft_btn {
        position: absolute;
        right: 0;
    }
}

.draft_btn {
    background-color: #00a67d;
    color: #fff;
}

//send draft btn code end

// rigth side customer, order, package detail code start
.sidebar_card {
    border: none;
    height: auto !important;

    .card-header {
        background-color: #00a67d;

        h4 {
            color: #fff;
        }
    }

    .card-body {
        background-color: #cdeee4;
        border-radius: 0px 0px 15px 15px;
    }
}

div {
    div {
        div {
            p {
                .order_status {
                    border-radius: 30px;
                    color: #fff;
                    padding: 10px 15px;
                }
            }
        }
    }
}

// rigth side customer, order, package detail code end

//order info tab code end

//chat tab code start
@media(max-width:562px) {
    .col-12 {
        padding: 0;
    }

    .tab-chat {
        padding: 0;

        .card {
            border: none;

            .card-body {
                padding: 0;
            }

            .card-footer {
                margin-left: 10px;
                padding: 0px 20px;
            }

            .input-group-append {
                .input-group-text {
                    padding: 0.2rem 0.5rem;
                }
            }
        }
    }
}

.msg_head {
    position: relative;
}

.img_cont {
    height: 70px;
    position: relative;
    width: 70px;
}

.user_img {
    border: 1.5px solid #f5f6fa;
    height: 70px;
    width: 70px;
}

.online_icon {
    background-color: #4cd137;
    border-radius: 50%;
    border: 1.5px solid white;
    height: 15px;
    position: absolute;
    bottom: 0.2em;
    right: 0.4em;
    width: 15px;
}

.msg_card_body {
    overflow-y: auto;
}

.chat-content {
    height: 420px;
    //overflow-y: scroll;
    border: 1px solid #c8ced3;

    .message-box {
        float: left;
        margin: 5px 0 0 2%;
        width: 98%;
    }

    .chat-message {
        min-height: 40px;
        width: 80%;

        .right-bubble {
            background: #dcf8c6;
            border-top-left-radius: .4em;
            border-bottom-left-radius: .4em;
            border-bottom-right-radius: .4em;
            padding: 5px 10px 10px;
            position: relative;
            left: 15%;

            span.msg-name {
                color: green;
                font-size: 12px;
                font-weight: bold;
            }

            span.msg-date {
                font-size: 10px;
            }
        }

        .right-bubble:after {
            border: 27px solid transparent;
            border-left-color: #dcf8c6;
            border-right: 0;
            border-top: 0;
            content: '';
            height: 0;
            margin-top: -13.5px;
            margin-right: -27px;
            position: absolute;
            right: 0;
            top: 13px;
            width: 0;
        }

        .left-bubble {
            background: lightblue;
            border-top-right-radius: .4em;
            border-bottom-left-radius: .4em;
            border-bottom-right-radius: .4em;
            padding: 5px 10px 10px;
            position: relative;
            left: 5%;

            span.msg-date {
                font-size: 10px;
            }

            span.msg-name {
                color: blue;
                font-size: 12px;
                font-weight: bold;
            }
        }

        .left-bubble:after {
            border: 27px solid transparent;
            border-right-color: lightblue;
            border-left: 0;
            border-top: 0;
            content: '';
            height: 0;
            margin-top: -13.5px;
            margin-left: -27px;
            position: absolute;
            left: 0;
            top: 13px;
            width: 0;
        }

        .chat-status {
            min-height: 49px;

            .chat-content-center {
                background-color: #e1e1f7;
                border-radius: 6px;
                color: #555;
                font-size: 12px;
                height: 34px;
                left: 10%;
                padding: 5px 10px;
                right: 10%;
            }

            .chat-date {
                color: #fff;
                display: block;
                font-size: 10px;
                font-style: italic;
                height: 15px;
                left: 10%;
                right: 10%;
                text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
            }
        }
    }

    .message_File_Download_Link {
        color: #20a8d8;

        &:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    }
}

.send_btn {
    border-radius: 0 0 15px 0 !important;
    background-color: #4cd137 !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

//chat multiple file selected
span {
    .selectedFiles {
        color: #0000FF;
        display: inline;
    }

    i {
        color: red;
        cursor: pointer;
    }
}

.tab-chat {

    .card {
        border: none;
    }
}

//chat tab code end

//files tab code start
table {
    text-align: center;

    tr {
        @media(max-width:430px) {
            .file_no {
                display: none;
            }
        }
    }
}

//files tab code end

// tabset code end

.card {
    border-radius: 15px !important;
    height: 500px;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: #FFFFFF;
    padding: 30px;
}

.attach_btn {
    border-radius: 0 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;

    span {
        color: #000;
        font-size: 20px;
    }

    p {
        color: #000;
        font-size: 10px;
    }
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.number {
    background-color: #5fcf80;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 0.8em;
    height: 30px;
    line-height: 30px;
    margin-right: 4px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    width: 30px;
}

.flex-container {
    display: flex;

    .flex-item {
        align-items: stretch; //to set flex items height 100%

        .input-group-append {
            height: 100%;

            .input-group-text {
                padding: 0.375rem 0.4rem;
            }
        }
    }

    #flex-item-1,
    #flex-item-3 {
        flex-basis: 25px;
        width: 5%;
    }

    #flex-item-2 {
        flex-basis: 210px;
        flex-grow: 1;
        width: 90%;
    }
}

.chat-editor-container {
    padding: 0 !important;
}

.chat-popup {
    position: fixed;
    bottom: 5px;
    right: 15px;

    .openChat {
        background: #00a67d;
        border-radius: 100%;
        border: none;
        color: white;
        height: 60px;
        width: 60px;
        position: absolute;
        right: 0;
        bottom: 0;

        i {
            font-size: 40px;
            padding: 4px;
        }
    }

    .card {
        max-width: 350px;
        height: 80vh;

        .card-header {
            background: #00a67d;
            padding: 0.5rem 1.25rem;

            div {
                .user_img {
                    border: 1.5px solid #f5f6fa;
                    height: 50px;
                    width: 50px;
                }

                .img_cont {
                    height: 50px;
                    position: relative;
                    width: 50px;
                }

                .user_info {

                    span,
                    p {
                        color: #ffffff;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }

            button {
                position: absolute;
                top: 5px;
                right: 5px;

                span {
                    font-size: 25px;
                    color: #ffffff;
                }
            }
        }

        .card-body {
            background: #cdeee4;
            border-left: 10px solid #00a67d;
            border-right: 10px solid #00a67d;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        }

        .card-footer {
            form {
                .row {
                    margin: 0;
                    border-left: 10px solid #00a67d;
                    border-right: 10px solid #00a67d;
                    border-top: 10px solid #00a67d;
                }

                .flex-container {
                    #flex-item-1 {
                        .input-group-append {
                            margin-left: 0;
                        }
                    }

                    #flex-item-2 {
                        border-bottom: 10px solid #00a67d;
                        border-top: 10px solid #00a67d;
                    }
                }

                .attach_btn,
                .input-group-text {
                    background-color: #00a67d;
                    color: #fff;
                    border: none;
                    border-radius: 0px 0px 15px 0px;
                }
            }
        }
    }
}

:host ::ng-deep .ck-editor__editable_inline {
    height: 70px;
}

:host ::ng-deep .ck {
    .ck-reset_all {
        .ck-sticky-panel__content .ck-toolbar {
            background-color: #00a67d;

            .ck-toolbar__items button {
                color: white;

                &:hover {
                    color: #000000;
                    background-color: #cdeee4;
                }
            }

            .ck-dropdown {
                button {
                    color: white;

                    &:hover {
                        background-color: #cdeee4;
                        color: #000000;
                    }
                }

                .ck-on {
                    background-color: #cdeee4;
                    color: #000;
                }

                .ck-reset {
                    .ck-list {
                        background: #00a67d;
                    }
                }
            }
        }
    }
}