$background_color1:#00a67d;

/* CSS of Price Packaging start from here  */
@font-face {
    font-family: Roboto-Regular;
    src: url(../../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../../assets/fonts/Roboto-Bold.ttf);
}

h1 {
    font-family: Roboto-Bold;
}

h2 {
    font-family: Roboto-Medium;
}

h3 {
    font-family: Roboto-Regular;
}

.more-btn {
    background-color: $background_color1;
    border-radius: 10px;
    box-shadow: -6px 4px 0px 0px rgba(255, 224, 143, 1);
    color: #fff;
    display: inline-block;
    margin-top: 15px;
    padding: 20px 60px;
    text-decoration: none;
    transition: 0.6s;
    -webkit-box-shadow: -6px 4px 0px 0px rgba(255, 224, 143, 1);
    -moz-box-shadow: -6px 4px 0px 0px rgba(255, 224, 143, 1);

    &:hover {
        background-color: #122c34;
        box-shadow: -12px 10px 0px 0px rgba(255, 224, 143, 1);
        -webkit-box-shadow: -12px 10px 0px 0px rgba(255, 224, 143, 1);
        -moz-box-shadow: -12px 10px 0px 0px rgba(255, 224, 143, 1);
    }
}

.banner {
    align-items: center;
    background-color: $background_color1;

    .banner_img {
        height: 150px;
        margin: auto;
        text-align: center;
        width: 100%;
    }

    @media(min-width:495px) {
        .banner_img {
            height: 150px;

            img {
                margin-top: 5px;
            }
        }
    }

    @media(max-width:495px) {
        .banner_img {
            height: 175px;
            margin-top: 0px;
        }
    }

    .banner-content {
        text-align: center;
        width: 100%;

        h2 {
            color: #fff;
            font-family: Roboto-Medium;
            padding-top: 15px;
        }

        p {
            color: #fff;
            font-family: Roboto-Regular;
            line-height: 1.6;
        }

        @media(min-width:830px) {
            p {
                position: absolute;
            }
        }
    }
}

/*Price section */
.pricing {
    padding-bottom: 40px;
    width: 100%;

    .price-heading {
        margin: auto;
        text-align: center;
        width: 50%;
    }

    .card {
        border-radius: 12px;
        box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);

        .card-title {
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            background-color: #036459;
            color: #fff;
            font-size: 30px;
            margin-bottom: 12px;
            padding-left: 20px;
            padding-bottom: 6px;
            transition: 0.6s;
        }

        .card-body {
            padding-top: 0rem;

            h3 {
                color: #6e7160;
            }

            h3 {
                font-family: Roboto-Medium;
            }
        }

        .true {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 20px 10px 10px 10px;

            .heading {
                h4 {
                    color: #000000;
                    font-family: Roboto-Medium;
                    font-size: 16px;
                    margin-bottom: 0px;
                }

                p {
                    color: #787d8e;
                    font-family: Roboto-Regular;
                    margin-bottom: 0px;
                }
            }

            .icon {
                i {
                    color: $background_color1;
                }
            }
        }

        .more-btn {
            width: 220px;
        }
    }

    p {
        color: #7a7d9b;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.show-less {
    height: 4rem;
    overflow: hidden;
    padding: 1rem;
}

/*Other Plans*/
.other-plans {

    h1 {
        font-family: Roboto-Medium;
    }

    .content {
        border: 1px solid #e3e6ef;
        background-color: #fff;
        border-radius: 12px;
        margin-top: 25px;
        padding: 50px 30px;

        h3 {
            color: #7a7d9b;
            font-family: Roboto-Medium;
            line-height: 2;
            margin-bottom: 0px;
        }
    }
}

.contact-us-form {
    margin-top: 40px;

    .contact-form {
        background-color: #ffffff;
        border: 1px solid #d1d5e2;
        border-radius: 12px;
        margin-right: 15px;
        margin-left: 15px;
        width: 100%;

        h1 {
            color: #282a41;
            font-family: Roboto-Medium;
        }

        .panel-group {
            .panel {
                border-bottom: 1px solid #dadada;

                .panel-heading {
                    h2 {
                        a {
                            color: #7b7b86;
                            font-family: Roboto-Medium;
                            font-size: 18px;
                            text-decoration: none;

                            span {
                                float: right;
                            }
                        }
                    }
                }

                .panel-collapse {
                    .panel-body {
                        color: #88888a;
                        font-size: 16px;
                        font-family: Roboto-Regular;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .banner {
        background-color: $background_color1;
        height: auto;

        .banner-content {
            position: initial;

            h2 {
                width: 100%;
            }

            p {
                width: 100%;
            }
        }
    }

    .pricing {
        position: initial;
    }
}

@media screen and (min-width: 900px) and (max-width: 1325px) {
    .banner {
        .banner-content {
            top: 50px;
        }
    }

    .pricing {
        top: 270px;
    }

    .more-btn {
        padding: 14px 35px;
    }
}

@media screen and (min-width: 1325px) and (max-width: 1440px) {
    .banner {
        .banner-content {
            top: 50px;

            h2 {
                width: 70%;
            }
        }
    }

    .pricing {
        top: 290px;
    }
}

@media (max-width:532px) {
    .ad_image {
        content: url("../../../assets/images/post.png");
    }
}