    div {
        //background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
        float: left;
        position: relative;
        text-align: center;
        width: 100%;
        //margin-top: 40px;

        .card__success {
            border-radius: 100%;
            background-color: #60c878;
            height: 100px;
            position: absolute;
            top: -50px;
            left: 37%;
            width: 100px;

            i {
                color: white;
                font-size: 45px;
                line-height: 100px;
            }
        }

        .msg {
            padding: 60px 15px 25px 15px;
        }

        .card_msg {
            color: #55585b;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .card_submsg {
            color: #959a9e;
            font-size: 16px;
            font-weight: 400;
            margin-top: 0px;
            margin-bottom: 20px;
        }

        .btn {
            width: 100%;
        }
    }