<div class="animated fadeIn">
  <div class="row">
    <!--loading start-->
    <div *ngIf="!showServicesList" class="content col-sm-12">
      <app-loading></app-loading>
    </div>
    <!--loading end-->
    <div class="col-sm-12" style="height: 832px;">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
        <thead *ngIf="showServicesList">
          <tr>
            <th class="sr_no">#</th>
            <th>Title</th>
            <th class="description">Description</th>
            <th>Price</th>
            <th>Service Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="services?.length != 0 && showServicesList">
          <tr *ngFor="let service of services; let i = index">
            <td class="sr_no">{{ i + 1 }}</td>
            <td>{{ service.title }}</td>
            <td class="description">{{ service.description }}</td>
            <td>{{ service.price }}</td>
            <td>{{ service.service_types[0].name }}</td>
            <td style="padding:5px 0">
              <a routerLink="../edit/{{service.id}}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
              <a href="javascript:;" (click)="deleteService(service.id)" class="btn btn-danger"><i
                  class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="services?.length == 0 && showServicesList">
          <tr>
            <td colspan="6" class="no-data-available text-center">No data!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>