<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <img class="" src="./../../../assets/images/headerlogo.png">
                <div class="social-icons mt-4">
                    <a href="https://www.facebook.com/careerscripters" class="mr-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:;" class="mx-2"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.linkedin.com/company/careerscripters/" class="mx-2"><i class="fab fa-linkedin"></i></a>
               </div>
                <div class="input-group mt-2 subscribe">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <span class="input-group-btn">
                        <button class="btn" type="submit">Subscribe</button>
                    </span>
               </div>
            </div>
            <div class="col-lg-3 col-md-3 d-flex justify-content-end">
                <div>
                    <p class="f-heading">Products</p>
                    <ul class="list-unstyled">
                        <li><a routerLink="/Resume-service">Private Sector Packages</a></li>
                        <li><a routerLink="/federal">Federal Packages</a></li>
                        <!-- <li><a routerLink="/Resume-service">Other Services</a></li> -->
                        <li><a href="javascript:;">Free Resume Critique</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 d-flex justify-content-end">
                <div>
                    <p class="f-heading">Learn more</p>
                    <ul class="list-unstyled">
                        <li><a routerLink="/FAQ's">Frequently Asked Questions</a></li>
                        <li><a routerLink="/testimonials">Customer Success Stories</a></li>
                        <li><a routerLink="/blog">Career Advice Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 d-flex justify-content-end">
                <div>
                    <p class="f-heading">About Us</p>
                    <ul class="list-unstyled">
                        <li><a routerLink="/about-us">Our Company</a></li>
                        <li><a routerLink="/writers">Our Writers</a></li>
                        <li><a routerLink="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p class="f-bottom">
                    <a routerLink="/terms-and-conditions">Terms of Use</a>
                    |
                    <a routerLink="/privacy-policy"> Privacy Policy</a>
                    © 2020 Careers Scripters, All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>