<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="" src="./../../../assets/images/headerlogo.png" style="width:198px;height:38px">
                <div class="subscribe_box_wrapper">
                    <div>
                        <br />
                        <div class="subscribe_box_header">
                            <div style="padding: 15px;">
                                <h2 style="color: #f8f8f8;"></h2>
                                <p>Sign up to receive weekly world-class career tips, interview
                                    tricks, and career advice&nbsp;to your <span
                                        style="color: #ffffff;"><strong>inbox</strong></span>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form_container">
                        <form method="post" class="clearfix">
                            <div>
                                <p>
                                    <input type="email" class="form-control email" placeholder="Email">
                                </p>
                                <button>
                                    SUBSCRIBE!
                                </button>
                            </div>
                        </form>
                        <div class="et_bloom_success_container">
                            <span class="et_bloom_success_checkmark"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-end">
                <div>
                    <p class="f-heading">Products</p>
                    <ul class="list-unstyled">
                        <li><a routerLink="/Resume-service">Private Sector Packages</a></li>
                        <li><a routerLink="/federal">Federal Packages</a></li>
                        <!-- <li><a routerLink="/Resume-service">Other Services</a></li> -->
                        <li><a href="/">Free Resume Critique</a></li>
                        <li><a href="/" target="_blank">Professional Resume Writing</a></li>
                        <li><a href="/" target="_blank">Linkedin Profile Development</a></li>
                        <li><a href="/" target="_blank">Time Saving Resume Distribution</a></li>
                        <li><a href="/">Bundled Packages</a></li>
                        <li><a href="/">Executive Packages</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-end">
                <div>
                    <p class="f-heading">Learn more</p>
                    <ul class="list-unstyled">
                        <li><a routerLink="/FAQ's">Frequently Asked Questions</a></li>
                        <li><a routerLink="/testimonials">Customer Success Stories</a></li>
                        <li><a routerLink="/resume_samples">Resume Samples</a></li>
                        <li><a routerLink="/referrals">Refer a Friend, Get $30</a></li>
                        <li><a routerLink="/writers">Our Resume Writers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 d-flex justify-content-end">
                <div>
                    <p class="f-heading">About Us</p>
                    <ul class="list-unstyled">
                        <li><a routerLink="/about-us">Our Company</a></li>
                        <li><a routerLink="/writers">Our Writers</a></li>
                        <li><a routerLink="/contact-us">Contact Us</a></li>
                        <li><a routerLink="/terms-and-conditions"><span style="font-weight: 400;">Terms of
                                    Use</span></a></li>
                        <li><a routerLink="/blog"><span style="font-weight: 400;">Career Advice
                                    Blog</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="line"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="f-bottom">
                    Copyrights © 2020 Resume Scripters, All Rights Reserved.<br />
                    <a routerLink="/terms-and-conditions">Terms of Use</a>
                    |
                    <a routerLink="/privacy-policy"> Privacy Policy</a>
                </p>
            </div>
            <div class="social-icons" style="text-align: right;">
                <a href="https://www.facebook.com/resumescripters" class="mr-2"><i class="fab fa-facebook-f"></i></a>
                <a href="javascript:;" class="mx-2"><i class="fab fa-youtube"></i></a>
                <a href="https://www.linkedin.com/company/resumescripters/" class="mx-2"><i
                        class="fab fa-linkedin"></i></a>
                <a href="" class="mx-2"><i class="fab fa-instagram"></i></a>
                <a href="" class="mx-2"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>