@mixin font-face{
    font-family: Roboto-Medium;
    src: url(../../../../assets/fonts/Roboto-Medium.ttf);
}
@mixin font-face{
    font-family: Roboto-Bold;
    src: url(../../../../assets/fonts/Roboto-Bold.ttf);
}
h2{
    @include font-face;
    color: #282a41;
}

.banner{
    background: rgb(6 6 6);
    position: relative;
    img{
        height: 450px;
        object-fit: cover;
        opacity: 0.6;
        width: 100%;
    }
    .banner-heading{
        position: absolute;
        bottom: 50px;
        h1{
            color: #ffffff;
            font-family: Roboto-Bold;
        }
        h3{
            color: #ffffff;
            font-family: Roboto-Bold;
        }
    }
}