<div class="banner">
    <img src="{{mediaUrl}}blogs_imgs/{{blog?.img}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                    <h1>{{blog?.title}}</h1>
                    <h3>{{blog?.created_at | date}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div class="content" [innerHtml]="blog?.description">
                <!-- <div class="heading">
                    <h1>How to get more job offers through LinkedIn Profile</h1>
                </div>
                <h2 class="mt-5">
                    LinkedIn is one of the most powerful professional networking website which 
                    is used by recruiters and job seekers alike. Knowing how to optimize 
                    your profile well can potentially land you the job of your dreams.
                </h2>
                <h2 class="mt-5">Since LinkedIn has become an essential career tool, 90% of 
                    recruiters regularly use this platform to source ideal candidates.
                </h2>
                <h2 class="mt-5">Here is how you can receive more job offers through a well-crafted, up-to-date LinkedIn profile.
                </h2>

                <h1 class="mt-5">Write an eye-catching headline:</h1>
                <h2 class="mt-5">
                    e afraid to tell your audience what makes you unique. Be simple and to-the-point and give potential recruiters a reason to view your profile rather than someone else.
                </h2>

                <h1 class="mt-5">Expand your skills section:</h1>
                <h2 class="mt-5">
                    Just mentioning your skills in the summary and experience section is not enough. 
                    It is important to develop a dedicated skills section that portrays your 
                    strengths and abilities. You can use LinkedIn’s suggested skills. With 
                    these skills, you’ll be more likely to be approached by hiring managers.
                </h2>

                <h1 class="mt-5">Make a powerful summary section:</h1>
                <h2 class="mt-5">
                    Remember that you are more than your job title. To excel, you need to make a 
                    short yet engaging summary. LinkedIn auto-generates a summary based on your 
                    experience, but it’s worth the effort to spend some time developing it, 
                    since it’s the #1 place recruiters consider when making hiring decisions.
                </h2>

                <h1 class="mt-5">Be comprehensive:</h1>
                <h2 class="mt-5">
                    A complete profile stands out to hiring managers far more than a half-finished 
                    one. Therefore, you should build your profile as thorough as possible by 
                    using all the sections to your advantage. Luckily, LinkedIn also provides 
                    suggestions to improve your profile visibility until you achieve “all-star” status.
                </h2>

                <h1 class="mt-5">Keep it updated:</h1>
                <h2 class="mt-5">
                    It’s a great idea to keep your LinkedIn profile updated even if you’re not 
                    actively seeking employment. Double check the content to make sure all your 
                    information is still current. As you make accomplishments, incorporate them 
                    to your profile immediately so you don’t forget them later.
                </h2> -->
            </div>
        </div>
    </div>
</div>
<div class="mt-5"></div>