<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Please Login/Register to Continue</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div class="modal-body">
    <span>Next Step</span><br/><br/>
    <h4>Hi Atif, where shall we send your critique?</h4>
        <p>We will get you a detailed analysis of your resume within 48 hours.<strong> Now, we 
        just need to know where to send it!</strong></p>
    <form>
        <label>Email Address</label>
        <br/>
        <div class="row">
            <div class="col-sm-8">
                <input type="email" class="form-control" placeholder="name@example.com"/>
            </div>
            <div class="col-sm-4">
                <input id="getEmailButton" type="button" class="btn btn-primary" value="Get my critique" (click)="uploadCV()"/>
            </div>
        </div>
        <br/><br/>
        <p>By uploading my resume, I agree to the TopResume <a class="link" href="#">Terms of Use</a>  
            and acknowledge I have read the <a class="link" href="#">Privacy Policy</a></p> 
    </form>    
</div>