.col-sm-12 {
  padding: 0 !important;

  table {
    text-align: center;
    width: 100% !important;

    tr {
      background-color: transparent !important;

      td {
        padding-left: 0;
        padding-right: 0;
      }

      @media(max-width:1143px) {

        .service_type {
          display: none;
        }
      }

      @media(max-width:1024px) {
        .sr_no {
          display: none;
        }
      }

      @media(max-width:966px) {

        .user_name {
          display: none;
        }
      }

      @media(max-width:896px) {

        .price {
          display: none;
        }
      }

      @media(max-width:886px) {
        .status {
          display: none;
        }
      }

      td {
        vertical-align: middle;

        span.order_status {
          border-radius: 30px;
          color: #fff;
          padding: 10px 15px;
        }
      }
    }
  }
}