table {
    text-align: center;
    width: 100% !important;

    tr {
        background-color: transparent !important;

        td {
            vertical-align: middle;
        }
    }

    @media(max-width:500px) {
        .service_type {
            display: none;
        }
    }

    @media(max-width:410px) {
        .sr_no {
            display: none;
        }
    }
}