@font-face {
    font-family: Roboto-Regular;
    src: url(../../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../../assets/fonts/Roboto-Bold.ttf);
}

h1 {
    color: #122c34;
    font-family: Roboto-Bold;
}

h2 {
    color: #006459;
    font-family: Roboto-Medium;
}

h3 {
    color: #6e7160;
    font-family: Roboto-Medium;
}

.login-body {
    background: #f8f9fa;

    .login-form {
        width: 100%;

        .login-form-2 {
            //box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
            padding: 0% 10%;
            width: 100%;
        }

        form {
            label {
                color: #6e7160;
                font-family: Roboto-Medium;
                margin-bottom: 4px;
            }

            .links {
                margin-bottom: 0px;

                a {
                    color: #343434;
                    margin-bottom: 15px;
                    margin-top: 0px;
                }
            }
        }
    }

    .packages {
        background-image: linear-gradient(to top, #122c34, #00a67e);
        padding: 40px;
        width: 100%;

        h2 {
            color: #fff;
        }

        p {
            color: #fff;
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 300px) {

    .login-form {
        padding-bottom: 50px;
    }
}

.content {
    overflow: hidden;
    position: absolute;
    left: 40%;
    top: 45%;
    z-index: 1;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.card-body {
    padding: 0px 1.125rem;
}

.login-body {
    border-radius: 15px;

    .bg-primary.bg-soft {
        background-color: #cdeee4 !important;
        padding: 5px 0px;

        .row {
            margin: 0;

            .col-7 {
                color: #000000;
            }
        }
    }
}
.btn{
    background-color: #00a67d;
    color:#fff;
}
.signup_btn{
    border-radius:20px;
    margin-bottom:10px;
}
.ForgetPwd{
    cursor:pointer;
}