<app-header [navbarClass] = "navbarClass"></app-header>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-text">
                    <div class="row">
                        <div class="col-lg-5">
                            <img class="w-100" src="./../../../assets/images/banner-background.jpg">
                        </div>
                        <div class="col-lg-7">
                            <div>
                                <h1>Hi, this is Jimmy!</h1>
                                <h2>Graduate with a Bachelor of Arts in Communication at the University of Alabama in Huntsville.</h2>
                            </div>
                            <div class="w-100 mt-5">
                                <a href="" class="more-btn">Lets Talk</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>About Jimmy!</h1>
                <h3>Sed in enim in arcu maximus mollis eu quis lectus. Quisque consectetur, ligula at ullamcorper varius, tortor risus
                    hendrerit lacus, sit amet elementum nisl purus sed urna. In a sem ultrices, malesuada ante a, dapibus risus. Duis
                    dapibus aliquam eros, a euismod metus ullamcorper et. Donec eget pellentesque mi. Sed sed convallis nibh.
                    Quisque mattis nulla sed mi scelerisque sodales. Aenean eget aliquet nisi. Donec tincidunt neque a dolor eleifend
                    dignissim. Fusce mollis dolor ut velit ullamcorper semper ut quis tortor. Curabitur vitae blandit dolor. Quisque ligula
                    purus, placerat in enim non, consequat rhoncus lacus. Nulla pulvinar egestas consectetur. Praesent venenatis
                    efficitur risus, sit amet gravida mi. Fusce pharetra dolor at ultricies sodales.
                </h3>
                
                <h3>
                    Maecenas condimentum luctus porta. Quisque ut consequat nisl. Vestibulum vitae ex metus. Sed porttitor
                    bibendum leo, vitae ornare nunc pretium et. In et faucibus ex. Proin felis massa, varius eu libero id, posuere
                    imperdiet ligula. Mauris at lacus vel ex maximus eleifend non vitae ante. Cras ut aliquam mauris. Etiam volutpat
                    odio ac viverra sollicitudin. Nullam tempus rutrum ante, ut semper nisl sodales vel. Cras et sagittis neque. Phasellus
                    feugiat venenatis nunc, quis pretium orci rhoncus eget. Suspendisse aliquet ultricies congue. In euismod mauris eu
                    malesuada sollicitudin. Etiam semper nunc eget dolor efficitur, at aliquet metus semper.
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="mt-5"></div>
<app-footer></app-footer>