@font-face{
    font-family: Roboto-Regular;
    src: url(../../../assets/fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: Roboto-Medium;
    src: url(../../../assets/fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: Roboto-Bold;
    src: url(../../../assets/fonts/Roboto-Bold.ttf);
}

h1{
    font-family: Roboto-Bold;
    color: #122c34;
    font-size: 50px;
}
h2{
    font-family: Roboto-Medium;
    color: #006459;
    font-size: 30px;
}
h3{
    font-family: Roboto-Medium;
    color: #6e7160;
    font-size: 20px;
}
.more-btn{
    background-color: #00a67d;
    font-family: Roboto-Regular;
    text-decoration: none;
    display: inline-block;
    padding: 20px 60px;
    margin-top: 15px;
    color: #fff;
    box-shadow: -12px 10px 0px 0px rgba(255,224,143,1);
    -webkit-box-shadow: -12px 10px 0px 0px rgba(255,224,143,1);
    -moz-box-shadow: -12px 10px 0px 0px rgba(255,224,143,1);
}

.login-body{
    background: #f8f9fa;
    .login-bg{
        background-color: #00a67e;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-form{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        .login-form-2{
            //box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
            padding: 0% 10%;
            width: 100%;
            
        }
        form{
            label{
                font-family: Roboto-Medium;
                margin-bottom: 4px;
                color: #6e7160;
            }
            .links{
                margin-bottom: 0px;
                a{
                    margin-bottom: 15px;
                    margin-top: 0px;
                    color: #343434;
                }
            }
            .btnSubmit{
                font-weight: 600;
                color: #fff;
                background-color: #00a67e;
                margin-top: 30px;
                width: 100%;
                border-radius: 3px;
                padding: 2.2%;
                border: none;
                cursor: pointer;
            }
        }
    }
}




@media only screen and (max-width: 767px) and (min-width: 300px){
    .login-bg{
        background-color: #00a67e;
        height: auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-form{
        padding-bottom: 50px;
        padding-top: 50px;
    }
}