// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.modal-content{
    .modal-title {
        background-repeat: no-repeat;
        padding: 2px;
        z-index: 1;
    }
    // .modal-body{

    // }
    .modal-footer{
        transition: alll .3s;
        .btn-primary{
            background-color: #00a67d !important;
            padding: 5px 20px;
            font-size: 16px;
            &:hover{
                background-color: #122c34 !important;
            }
        }
        .btn-default{
            &:hover{
                background-color: rgba(170, 170, 170, 0.288);
            }
        }
    }
}