<app-header></app-header>

<!-- Client Testimonials section start from here -->
<section class="banner">
    <div class="container position-relative">
        <div class="banner_img">
            <img src="../../../assets/images/hiring.png" class="img-fluid" style="height:100%"/>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-4">
                <div class="price-heading">
                    <h2>Testimonials</h2>
                    <p style="margin-bottom:0;width:100%">Helping individuals reach their career goals is what gets our team out of bed in the morning. 
                        A Resume Writing Service where you are 'The Story'.</p>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 170" style="background-color:#fafbf6;">
        <path fill="#00a67d" fill-opacity="1"
            d="M0,64L80,90.7C160,117,320,171,480,170.7C640,171,800,117,960,96C1120,75,1280,85,1360,90.7L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>
</section>

<!-- Client Testimonials section start from here -->
<section class="sectionTwo">
    <img class="rectangal" src="../../../assets/images/rectangle.png">
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12 mb-4">
                <!-- <img class="right-arrow" data-aos="fade-down" data-aos-duration="1000"
                    src="../../../assets/images/right_arrow.png"> -->
                    <br/><br/>
                <div class="price-heading">
                    <h1>Client Testimonials</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="carouselExampleIndicators" class="col-sm-12 carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="2000">
                        <table class="table table-responsive">
                            <tr class="border-bottom">
                                <td class="border-top-0 border-right">
                                    <div class="client-name">
                                        <div class="">
                                            <img src="../../../assets/images/reviews/Client 10.jfif" />
                                        </div>
                                        <div class="text-left mt-2">
                                            <h2>Nardin Shamleh</h2><br />
                                            <p class="font-weight-bold">CPM Hospitality Project</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-top-0 border-right">
                                    <div class="client-name">
                                        <div class="text-left mt-2">
                                            <h2>Profession</h2><br />
                                            <p>Design Manager</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-top-0 border-right">
                                    <div class="client-name">
                                        <div class="text-left mt-2">
                                            <h2>Experience</h2><br />
                                            <p>8 Years</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-top-0">
                                    <div class="client-name">
                                        <div class="text-left mt-2">
                                            <h2>Purchased</h2><br />
                                            <p class="plan">Silver Package</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-top-0" colspan="4">
                                    <p class="client-text text-justify">When I first contacted ResumeScripters, I was employed but
                                        looking
                                        to grow in my career. I had been applying to jobs over the course of about a
                                        year
                                        and
                                        a half, but I wasn’t getting any responses. 
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="carousel-item" data-interval="2000">
                        <table class="table table-responsive">
                            <tr class="border-bottom">
                                <td class="border-top-0 border-right">
                                    <div class="client-name">
                                        <div class="">
                                            <img src="../../../assets/images/reviews/Client 9.jfif" />
                                        </div>
                                        <div class="text-left mt-2">
                                            <h2>Matteo Lai</h2><br />
                                            <p>Central Bank Of Ireland</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-top-0 border-right">
                                    <div class="client-name">
                                        <div class="text-left mt-2">
                                            <h2>Profession</h2><br />
                                            <p>Investment Banker</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-top-0 border-right">
                                    <div class="client-name">
                                        <div class="text-left mt-2">
                                            <h2>Experience</h2><br />
                                            <p>7+ Years</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-top-0">
                                    <div class="client-name">
                                        <div class="text-left mt-2">
                                            <h2>Purchased</h2><br />
                                            <p class="plan">Gold Package</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-top-0" colspan="4">
                                    <p class="client-text text-justify">I retained Resume Scripters for my resume-writing service. 
                                        My resume writer
                                        listened
                                        to feedback, was quick to respond and had great communication throughout the
                                        process.</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="carousel-item" data-interval="2000">
                        <table class="table table-responsive">
                            <tr class="border-bottom">
                                <td class="border-top-0 border-right">
                                    <span class="client-name">
                                        <div class="">
                                            <img src="../../../assets/images/reviews/Client 6.png" />
                                        </div>
                                        <div class="text-left mt-2">
                                            <h2>Kathie Barrett</h2><br />
                                            <p>TechHeck</p>
                                        </div>
                                    </span>
                                </td>
                                <td class="border-top-0 border-right">
                                    <div class="client-name">
                                        <div class="text-left mt-2">
                                            <h2>Profession</h2><br />
                                            <p>CEO</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-top-0 border-right">
                                    <div class="client-name">
                                        <div class="text-left mt-2">
                                            <h2>Experience</h2><br />
                                            <p>20+ Years</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-top-0">
                                    <div class="client-name">
                                        <div class="text-left mt-2">
                                            <h2>Purchased</h2><br />
                                            <p class="plan">Platinum Package</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-top-0" colspan="4">
                                    <p class="client-text text-justify">I sent my resume to Catherine and her turnaround time was
                                        super
                                        quick! Overall, I was impressed with the final product and would highly
                                        recommend
                                        Resume Scripters.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <img class="dot" src="../../../assets/images/dot.png">
    </div>
</section>
<!-- Client Testimonials section end here -->

<!-- Why Brand Resume -->
<div class="container brand-resume">
    <div class="row">
        <!-- <div class="col-lg-12 text-center" data-aos="fade-down" data-aos-duration="1000">
            <h1 class="mb-5">Satisfied Customers</h1>
        </div> -->
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center" style="height:100%">
                <h2 class="counterUp" data-count="550">0</h2>
                <p class="mb-0">Secured Interviews</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center" style="height:100%">
                <h2 class="counterUp" data-count="1235">0</h2>
                <p class="mb-0">Satisfied Customers</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center" style="height:100%">
                <h2 class="counterUp" data-count="65">0</h2>
                <p class="mb-0">Industries Specialities</p>
            </div>
        </div>
    </div>
</div>

<div class="container real_reviews my-5">
    <div class="row real_review_cards">
        <div class="col-lg-12 text-center" data-aos="fade-down" data-aos-duration="1000">
            <h1 class="mb-5">What Our Customers Say</h1>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> Joe was very helpful and patient throughout the entire process. His work was very thorough and I couldn't be happier with the finished product.<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="../../../assets/images/reviews/Client 1.jfif" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Joe Morgan</h2>
                    <h3>Project Engineer</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> Did a great job re-writing my resume to make my accomplishments clearer to the reader, and modernized my antiquated layout. Thank you, CS! <i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="../../../assets/images/reviews/Client 2.jfif" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Steve Arnold</h2>
                    <h3>Head of Business Development</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-2 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i>Scott is brilliant at what he does. The finished products had job offers pouring in, so many that I had to decline interviews.<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body mt-2 text-center">
                    <div class="card-img">
                        <img src="../../../assets/images/reviews/Client 4.png" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Sia Shawn</h2>
                    <h3>UX/UI Designer</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> The writer David is a warm, helpful. He created a fantastic cover letter and resume and optimized my LinkedIn profile for an important position.<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="../../../assets/images/reviews/client 5.png" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Sharon Connie</h2>
                    <h3>Customer Success Manager</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> I highly recommend ResumeScripters for the work they did on my resume. I gave them a rock and they returned a diamond.<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="../../../assets/images/reviews/Client 3.png" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Tim Fritz</h2>
                    <h3>Chief Financial Officer</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> My new resume, LinkedIn update and cover letter have already opened multiple doors of opportunity. Thank you so much.<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="https://ui-avatars.com/api/?size=235&name=Denise Findley" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Denise Findley</h2>
                    <h3>Supply Chain Manager</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> The most ACCURATE advice and PROFESSIONALISM on resume service I have ever seen.<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="https://ui-avatars.com/api/?size=235&name=Olivia May" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Olivia May</h2>
                    <h3>Sales Associate</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> 3-	These guys are awesome. Knows their stuff and really write well and know how to present you.<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="https://ui-avatars.com/api/?size=235&name=Brad Alice" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Brad Alice</h2>
                    <h3>UX Researcher</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> I would recommend this company and their dedicated staff to assist anyone in their job search needs. The team was professional and timely.<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="https://ui-avatars.com/api/?size=235&name=Tom Forte" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Tom Forte</h2>
                    <h3>Program Manager</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> CS is the best!! The supportive staff guided me the process of updating my resume and honing my interview skills. Great value and great results!!<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="https://ui-avatars.com/api/?size=235&name=Fiona Merchant" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Fiona Merchant</h2>
                    <h3>Head of IT Infrastructure</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> CS provided a great resume, cover letter and LinkedIn profile. Very professional and detailed oriented.<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="https://ui-avatars.com/api/?size=235&name=Lisa Washington" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Lisa Washington</h2>
                    <h3>Director of Sales</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="card mb-4 ">
                <div class="card-about text-secondary text-center pb-3 pt-5 px-3 ">
                    <blockquote>
                        <i class="fa fa-quote-left"></i> My resume is greatly improved and helped me think about myself and what I have to offer in new ways. A fresh look and feel! Thank you!<i class="fa fa-quote-right"></i>
                    </blockquote>
                </div>
                <div class="card-body text-center">
                    <div class="card-img">
                        <img src="https://ui-avatars.com/api/?size=235&name=Angelica Brian" class="w-25 rounded-circle" alt="">
                    </div>
                    <h2>Angelica Brian</h2>
                    <h3>Operations Manager</h3>
                    <!-- <p>12 Years Experiance</p> -->
                </div>
            </div>
        </div>

        <div class="col-lg-12 text-center" data-aos="fade-down" data-aos-duration="1000">
            <a href="" class="more-btn">Read More Reviews</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12" data-aos="fade-down" data-aos-duration="1000">
            <img class="w-100" src="../../../assets/images/testimonial.PNG">
        </div>
    </div>
</div>

<div class="mt-5"></div>
<app-footer></app-footer>