<div class="row">
    <div class="col-md-12">
        <form [formGroup]="cvForm" (submit)="submitCVForm()">
            <fieldset>
                <legend><span class="number">1</span> Your Basic Info</legend>
                <div class="form-row">
                    <div class="form-group col-2">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" class="form-control" placeholder="First Name"
                            formControlName="firstName">
                    </div>
                    <div class="form-group col-2">
                        <label for="middleName">Middle Name:</label>
                        <input type="text" id="middleName" class="form-control" placeholder="Middle Name"
                            formControlName="middleName">
                    </div>
                    <div class="form-group col-2">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" class="form-control" placeholder="Last Name"
                            formControlName="lastName">
                    </div>
                    <div class="form-group col-2">
                        <label for="phone_number">Phone Number</label>
                        <input type="number" id="phone_number" class="form-control" placeholder="Phone Number"
                            formControlName="phoneNumber" />
                    </div>
                    <div class="form-group col-2">
                        <label for="mail">Email:</label>
                        <input type="email" id="mail" class="form-control" placeholder="Email" formControlName="email">
                    </div>
                    <div class="form-group col-2">
                        <label for="linkdin_url">Linkdin Profile URL:</label>
                        <input type="url" id="linkdin_url" class="form-control" placeholder="Linkdin Profile URL"
                            formControlName="linkdin_url">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="address">Current Postal Address:</label>
                        <textarea id="address" class="form-control" placeholder="Current Postal Address"
                            formControlName="address"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend><span class="number">2</span>Languages</legend>
                <div formArrayName="languages">
                    <div *ngFor="let languages of languages.controls; let i=index;">
                        <div formGroupName="{{i}}">
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="language_skill">Name:</label>
                                    <input type="text" id="language_skill" name="language_skill" class="form-control"
                                        placeholder="Name" formControlName="language_name" (input)="getLanguageName(i)">
                                </div>
                                <div class="form-group col-4">
                                    <label for="computer_skill">Proficiency:</label>
                                    <select *ngIf="languages.value.language_name" class="form-control"
                                        formControlName="proficiency_level">
                                        <option value="Basic">Basic</option>
                                        <option value="Average">Average</option>
                                        <option value="Excellent">Excellent</option>
                                    </select>
                                    <select *ngIf="!(languages.value.language_name)" class="form-control"
                                        formControlName="proficiency_level" disabled>
                                        <option value="Basic">Basic</option>
                                        <option value="Average">Average</option>
                                        <option value="Excellent">Excellent</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button *ngIf="lastIndexLanguageValue" type="button" class="btn mb-5 plusButton" (click)="addLanguage()"
                    title="Add More Language">
                    +
                </button>
                <button *ngIf="!lastIndexLanguageValue" type="button" class="btn mb-5 plusButton" disabled>
                    +
                </button>
                <button *ngIf="languages.controls.length>1" type="button" class="btn mb-5 negativeButton"
                    title="Remove Language" (click)="RemoveLanguage()">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button *ngIf="languages.controls.length==1" type="button" class="btn mb-5 negativeButton" disabled>
                    <i class="fas fa-trash-alt"></i>
                </button>
            </fieldset>
            <fieldset>
                <legend><span class="number">3</span>Technical Skills</legend>

                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="computer_skill">Computer Skill:</label>
                        <input type="text" id="computer_skill" class="form-control" placeholder="Computer Skill"
                            formControlName="computer_skill">
                    </div>
                    <div class="form-group col-4">
                        <label for="Interpersonal_Skill">Interpersonal Skill:</label>
                        <input type="text" id="Interpersonal_Skill" name="Interpersonal_Skill" class="form-control"
                            placeholder="Interpersonal Skill" formControlName="interpersonal_skill">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend><span class="number">4</span>Desired Position</legend>
                <div formArrayName="positions">
                    <div *ngFor="let position of positions.controls; let i=index">
                        <div formGroupName="{{i}}">
                            <div class="form-row">
                                <div class="form-group col-2">
                                    <label for="country_targeted">Country Targeted:</label>
                                    <input type="text" id="country_targeted" name="country_targeted"
                                        class="form-control" placeholder="Country Targeted"
                                        formControlName="country_targeted" (input)="getPositionValue(i)">
                                </div>
                                <div class="form-group col-2">
                                    <label for="desired_position">Position Title</label>
                                    <input type="text" id="desired_position" name="desired_position"
                                        class="form-control" placeholder="Position Title"
                                        formControlName="position_title" (input)="getPositionValue(i)">
                                </div>
                                <div class="form-group col-4">
                                    <label for="desired_position">Description</label>
                                    <textarea id="desired_position" name="desired_position" class="form-control"
                                        placeholder="Description" formControlName="description" (input)="getPositionValue(i)"></textarea>
                                </div>
                                <div class="form-group col-2">
                                    <label for="position_link">Link</label>
                                    <input type="url" id="position_link" class="form-control" placeholder="link"
                                        formControlName="position_link" (input)="getPositionValue(i)">
                                </div>
                                <div class="form-group col-2">
                                    <label for="desired_position">Expected Salary</label>
                                    <input type="number" id="desired_position" name="desired_position"
                                        class="form-control" placeholder="Expected Salary" formControlName="salary" (input)="getPositionValue(i)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button *ngIf="lastIndexPositionValue" type="button" class="btn plusButton" (click)="addPositions()"
                    title="Add More Positions">
                    +
                </button>
                <button *ngIf="!lastIndexPositionValue" disabled type="button" class="btn plusButton">
                    +
                </button>
                <button *ngIf="positions.controls.length>1" type="button" class="btn negativeButton"
                    title="Remove Position" (click)="RemovePositions()">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button *ngIf="positions.controls.length==1" type="button" class="btn negativeButton" disabled>
                    <i class="fas fa-trash-alt"></i>
                </button>
            </fieldset>
            <fieldset>
                <legend><span class="number">5</span> Area of Expertise</legend>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="">
                            Please tell us about any/ all awards, honours or acknowledgements you have received.
                        </label>
                        <textarea id="" class="form-control"
                            placeholder="Please tell us about any/ all awards, honours or acknowledgements you have received."
                            formControlName="expertise1"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="">
                            Please tell us about the top 12 areas within your business/industry where you consider
                            yourself an
                            expert.
                        </label>
                        <textarea id="" class="form-control"
                            placeholder="Please tell us about the top 12 areas within your business/industry where you consider yourself an expert."
                            formControlName="expertise2"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend><span class="number">6</span> Academic Degrees</legend>
                <div formArrayName="academic_degrees">
                    <div *ngFor="let degree of academic_degrees.controls; let i=index">
                        <div formGroupName="{{i}}">
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label for="">Name of Educational Institute:</label>
                                    <input type="text" id="" name="" class="form-control"
                                        placeholder="Name of Educational Institute" formControlName="name_of_institute" (input)="getAcademicValue(i)">
                                </div>
                                <div class="form-group col-3">
                                    <label for="">Name of Degree:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="Name of Degree"
                                        formControlName="name_of_degree" (input)="getAcademicValue(i)">
                                </div>
                                <div class="form-group col-1">
                                    <label for="">State:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="State"
                                        formControlName="state" (input)="getAcademicValue(i)">
                                </div>
                                <div class="form-group col-1">
                                    <label for="">City:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="City"
                                        formControlName="city" (input)="getAcademicValue(i)">
                                </div>
                                <div class="form-group col-2">
                                    <label for="">Starting Date</label>
                                    <input type="month" id="" name="" class="form-control" placeholder="From"
                                        formControlName="starting_date" (input)="getAcademicValue(i)">
                                </div>
                                <div class="form-group col-2">
                                    <label for="">Ending Date</label>
                                    <input type="month" id="" name="" class="form-control" placeholder="To"
                                        formControlName="ending_date" (input)="getAcademicValue(i)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button *ngIf="lastIndexAcademicValue" type="button" class="btn plusButton" (click)="addDegrees()"
                    title="Add More Degree">
                    +
                </button>
                <button *ngIf="!lastIndexAcademicValue" disabled type="button" class="btn plusButton">
                    +
                </button>
                <button *ngIf="academic_degrees.controls.length>1" type="button" class="btn negativeButton"
                    title="Remove Degree" (click)="RemoveDegrees()">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button *ngIf="academic_degrees.controls.length==1" type="button" class="btn negativeButton" disabled>
                    <i class="fas fa-trash-alt"></i>
                </button>
            </fieldset>
            <fieldset>
                <legend><span class="number">7</span>
                    Training & Certificates Professional training only
                </legend>
                <div formArrayName="certifications">
                    <div *ngFor="let certification of certifications.controls; let i=index">
                        <div formGroupName="{{i}}">
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label for="">Institution/Organization:</label>
                                    <input type="text" id="" name="" class="form-control"
                                        placeholder="Institution/Organization:" formControlName="name_of_institute" (input)="getCertificateValue(i)">
                                </div>
                                <div class="form-group col-3">
                                    <label for="">Name of Course:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="Name of Course"
                                        formControlName="name_of_course" (input)="getCertificateValue(i)">
                                </div>
                                <div class="form-group col-1">
                                    <label for="">State:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="State"
                                        formControlName="state">
                                </div>
                                <div class="form-group col-1">
                                    <label for="">City:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="City"
                                        formControlName="city">
                                </div>
                                <div class="form-group col-2">
                                    <label for="">Starting Date</label>
                                    <input type="month" id="" name="" class="form-control" placeholder="From"
                                        formControlName="starting_date">
                                </div>
                                <div class="form-group col-2">
                                    <label for="">Ending Date</label>
                                    <input type="month" id="" name="" class="form-control" placeholder="To"
                                        formControlName="ending_date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button *ngIf="lastIndexCertificateValue" type="button" class="btn plusButton" (click)="addCertificate()"
                    title="Add More Certificate">
                    +
                </button>
                <button *ngIf="!lastIndexCertificateValue" disabled type="button" class="btn plusButton">
                    +
                </button>
                <button *ngIf="certifications.controls.length>1" type="button" class="btn negativeButton"
                    title="Remove Certificate" (click)="RemoveCertificate()">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button *ngIf="certifications.controls.length==1" type="button" class="btn negativeButton" disabled>
                    <i class="fas fa-trash-alt"></i>
                </button>
            </fieldset>
            <fieldset>
                <legend><span class="number">8</span>
                    Professional Membership [active and past]
                </legend>
                <p>Only professional membership details, NOT at school/college/university level</p>
                <div formArrayName="memberships">
                    <div *ngFor="let membership of memberships.controls let i=index">
                        <div formGroupName="{{i}}">
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label for="">Name of Institute:</label>
                                    <input type="text" id="" name="" class="form-control"
                                        placeholder="Name of Institute" formControlName="name_of_institute" (input)="getMembershipValue(i)">
                                </div>
                                <div class="form-group col-3">
                                    <label for="">Explanation[if applicable]:</label>
                                    <textarea id="" name="" class="form-control"
                                        placeholder="Explanation[if applicable]"
                                        formControlName="explanation" (input)="getMembershipValue(i)"></textarea>
                                </div>
                                <div class="form-group col-1">
                                    <label for="">State:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="State"
                                        formControlName="state">
                                </div>
                                <div class="form-group col-1">
                                    <label for="">City:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="City"
                                        formControlName="city">
                                </div>
                                <div class="form-group col-2">
                                    <label for="">Starting Date</label>
                                    <input type="month" id="" name="" class="form-control" placeholder="From"
                                        formControlName="starting_date">
                                </div>
                                <div class="form-group col-2">
                                    <label for="">Ending Date</label>
                                    <input type="month" id="" name="" class="form-control" placeholder="To"
                                        formControlName="ending_date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button *ngIf="lastIndexMembershipValue" type="button" class="btn plusButton" (click)="addMembership()"
                    title="Add More Membership">
                    +
                </button>
                <button *ngIf="!lastIndexMembershipValue" disabled type="button" class="btn plusButton">
                    +
                </button>
                <button *ngIf="memberships.controls.length>1" type="button" class="btn negativeButton"
                    title="Remove Membership" (click)="RemoveMembership()">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button *ngIf="memberships.controls.length==1" type="button" class="btn negativeButton" disabled>
                    <i class="fas fa-trash-alt"></i>
                </button>
            </fieldset>
            <fieldset>
                <legend><span class="number">9</span>
                    Employment History
                </legend>
                <div formArrayName="experience">
                    <div *ngFor="let experience of experience.controls let i=index">
                        <div formGroupName="{{i}}">
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label for="">Name of Organization/Institution:</label>
                                    <input type="text" id="" name="" class="form-control"
                                        placeholder="Name of Organization/Institution"
                                        formControlName="name_of_institute" (input)="getExperienceValue(i)">
                                </div>
                                <div class="form-group col-3">
                                    <label for="">Your Position Name</label>
                                    <input type="text" id="" name="" class="form-control"
                                        placeholder="Your Position Name" formControlName="position" (input)="getExperienceValue(i)">
                                </div>
                                <div class="form-group col-2">
                                    <label for="">Starting Date</label>
                                    <input type="month" id="" name="" class="form-control" placeholder="From"
                                        formControlName="starting_date">
                                </div>
                                <div class="form-group col-2">
                                    <label for="">Ending Date</label>
                                    <input type="month" id="" name="" class="form-control" placeholder="To"
                                        formControlName="ending_date">
                                </div>
                                <div class="form-group col-1">
                                    <label for="">State:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="State"
                                        formControlName="state">
                                </div>
                                <div class="form-group col-1">
                                    <label for="">City:</label>
                                    <input type="text" id="" name="" class="form-control" placeholder="City"
                                        formControlName="city">
                                </div>
                                <div class="form-group col-6">
                                    <label for="">Duties/Contributions</label>
                                    <textarea id="" name="" class="form-control" placeholder="Duties/Contributions"
                                        formControlName="duties" (input)="getExperienceValue(i)"></textarea>
                                </div>
                                <div class="form-group col-6">
                                    <label for="">Achievements</label>
                                    <textarea id="" name="" class="form-control" placeholder="Achievements"
                                        formControlName="achievements" (input)="getExperienceValue(i)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button *ngIf="lastIndexExperienceValue" type="button" class="btn plusButton" (click)="addExperience()"
                    title="Add More Experience">
                    +
                </button>
                <button *ngIf="!lastIndexExperienceValue" disabled type="button" class="btn plusButton">
                    +
                </button>
                <button *ngIf="experience.controls.length>1" type="button" class="btn negativeButton"
                    title="Remove Experience" (click)="RemoveExperience()">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button *ngIf="experience.controls.length==1" type="button" class="btn negativeButton" disabled>
                    <i class="fas fa-trash-alt"></i>
                </button>
            </fieldset>
            <input type="submit" [disabled]="cvForm.invalid" class="form-control btn mb-5">
        </form>
    </div>
</div>