  
  form{
    input[type=submit]{
        background-color: #5fcf80;
        color: #fff;
    }
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  .plusButton {
    font-size: 1.4em;
    margin-bottom: 10px;
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 4px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    padding:0;
  }
  .negativeButton {
    margin-bottom: 10px;
    background-color: #5fcf80;
    color:white;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 4px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    padding:0;
    line-height: 30px;
  }
}
  