  
 $green_background_color:#5fcf80;
 form{
    input[type=submit]{
        background-color:$green_background_color;
        color: #fff;
    }
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  .number {
    background-color:$green_background_color;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 0.8em;
    height: 30px;
    line-height: 30px;
    margin-right: 4px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    width: 30px;
  }
  .plusButton {
    background-color:$green_background_color;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 1.4em;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding:0;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    width: 30px;
  }
  .negativeButton {
    background-color:$green_background_color;
    border-radius: 100%;
    border: none;
    color:white;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding:0;
    text-align: center;
    width: 30px;    
  }
}
  