<app-header></app-header>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="banner_img">
                <img src="../../../assets/images/hiring.png" class="img-fluid" style="height:100%"/>
            </div>
            <div class="col-12">
                <div class="heading">
                    <h2>Meet Our Writers</h2>
                    <p style="margin-bottom:0;width:100%">ResumeScripters professional writers have helped individuals reach their career goals.
                        Your resume is your story, and we love a good ending.</p>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 170" style="background-color:#fafbf6;">
        <path fill="#00a67d" fill-opacity="1"
            d="M0,64L80,90.7C160,117,320,171,480,170.7C640,171,800,117,960,96C1120,75,1280,85,1360,90.7L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>
</div>
<section class="sectionFour pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Jimmy Carter.jfif">
                        <h5 class="mt-4">Hi! My name is Jimmy. Since a decade, I’ve crafted a variety of effective job
                            hunting documents. From professional resumes, cover letters, LinkedIn profiles, interview
                            coaching and more, I have helped thousands of candidates land more quality interviews in IT,
                            medical, sales, banking, education, and other industries. I have extensive experience in
                            industry-specific requirements as well as up-to-date knowledge on how to get your resume
                            through application tracking systems (ATS). I have spent 15+ years helping professionals –
                            across the globe and at professional/executive levels – enter the job market intelligently
                            and attain their next roles.</h5>
                        <!-- <div class="text-right"><button class="btn"><i>See More</i></button></div> -->
                        <div class="writer-name">
                            <h2>Jimmy Carter</h2>
                            <p>Certified Resume Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/David.jfif">
                        <h5 class="mt-4">My passion is helping people tell their story, create their own personal
                            narrative, and find their voice. I have learned that you don't have a second chance to make
                            a first appearance. Specializing in senior and C-level executives, I assist clients of all
                            levels and will create the perfect resume that is unique to you. I also specialize in
                            designing resumes for college graduates looking for new opportunities or those who need to
                            put their credentials on paper for the first time! As a professional resume writer, I
                            dedicate my full-time effort to helping clients get noticed, clearly communicate their
                            value, and target their job search to reach the next level.</h5>
                        <!-- <div class="text-right"><button class="btn"><i>See More</i></button></div> -->
                        <div class="writer-name">
                            <h2>David Henry </h2>
                            <p>Professional Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="1000">
                <div class="box">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Scott Brian.jfif">
                        <h5 class="mt-4">Hi! My name is Scott. I am a determined go-getter, resume and interview success
                            expert with over a decade of experience of recruiting, coaching, and training people to new
                            career heights. My goal is to help you succeed in achieving your personal and professional
                            endeavors. I have acquired broad professional experience in both the private and public
                            sectors, hold a degree in communication, and recently earned CPRW certification. I am adept
                            at identifying market shifts and positioning clients for the future. I dedicate time to
                            researching and collaborating with recruiters, hiring managers, and innovators in talent
                            selection to stay on top of best practices and emerging trends.</h5>
                        <!-- <div class="text-right"><button class="btn"><i>See More</i></button></div> -->
                        <div class="writer-name">
                            <h2>Scott Brian</h2>
                            <p>Creative Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="1000">
                <div class="box">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Alicia Perkins.jfif">
                        <h5 class="mt-4">I am an HR professional with 10 years of direct resume consultation experience.
                            My history as a Career Advisor gives me an integrated viewpoint on job search, and this has
                            allowed me to gain amazing insights on best resume practices. I have reviewed tens of
                            thousands of resumes throughout my career, while working in a hiring capacity, and have
                            hired hundreds of individuals. Without a doubt, I know *exactly* what it takes to get you
                            noticed. My extensive HR/business background, combined with my exceptional writing skills,
                            gives me a strong edge in any project involving HR Consulting/Management, recruiting,
                            resume/cover letter/LinkedIn profile writing, and career coaching.</h5>
                        <!-- <div class="text-right"><button class="btn"><i>See More</i></button></div> -->
                        <div class="writer-name">
                            <h2>Alicia Perkins</h2>
                            <p>HR Consultant</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="1000">
                <div class="box">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Catherine Haris.jfif">
                        <h5 class="mt-4">Educated with a Master's degree in English, I am ready to deliver my services
                            to you both on time and with excellent detail. I also have extensive experience working in
                            the HR department of a multinational company. Throughout my career, I have written thousands
                            of resumes, interviewed thousands of people, worked with hundreds of hiring managers, and
                            helped hundreds of people find their next exciting position. From this experience, I have
                            unique insight into what hiring managers are looking for in a resume, and what it takes to
                            win the job in the interview process! I also provide an insider's perspective that gives you
                            edge with recruiters and hiring managers.</h5>
                        <!-- <div class="text-right"><button class="btn"><i>See More</i></button></div> -->
                        <div class="writer-name">
                            <h2>Catherine Harris</h2>
                            <p>Resume Analyst & Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="1000">
                <div class="box">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Cameron.jfif">
                        <h5 class="mt-4">Writing and the written word has long been a passion of mine, and I have had to
                            use my natural skills in writing, editing and communications throughout my career. I am
                            expert in screening, editing and redrafting CVs and cover letters for job opportunities all
                            over the world, in all industries. My experiences have given me knowledge of
                            industry-specific requirements and, most importantly, an understanding of what employers are
                            looking for. I consider myself an expert in accentuating the positive and de-emphasizing the
                            negative, with proven strategies for handling job gaps, re-entering the workforce,
                            contracting, entrepreneurship, and other complex situations.</h5>
                        <!-- <div class="text-right"><button class="btn"><i>See More</i></button></div> -->
                        <div class="writer-name">
                            <h2>Cameron Dorsey</h2>
                            <p>Executive Resume Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="1000">
                <div class="box">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Edward Leah.jfif">
                        <h5 class="mt-4">With an MBA and Bachelor’s degree in Accounting & Finance, I am probably our
                            most thought-after and productive writer within the finance industry. I specialize in
                            crafting documents for C-level executives, business leaders and senior managers. In
                            addition, I enjoy hosting team-building workshops and training for teams and individuals who
                            need assistance solving organizational challenges. Moreover, I am a collaborative
                            communicator who is adept in providing 100% customer satisfaction while establishing and
                            maintaining relationships with clients and co-workers.</h5>
                        <!-- <div class="text-right"><button class="btn"><i>See More</i></button></div> -->
                        <div class="writer-name">
                            <h2>Edward Leah</h2>
                            <p>Senior Resume Writer & Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="1000">
                <div class="box">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Brandon Maya.jfif">
                        <h5 class="mt-4">I possess a decade of career coaching and job candidate development experience
                            across several diverse industries including Banking and Finance, Sales, Marketing,
                            Healthcare, and the Non-Profit sector. I have written many articles on job search process
                            and career advancement. I am sought out by organizations including LinkedIn and Indeed, to
                            help their clients improve their job search skills. Moreover, I work with professionals from
                            around the globe and in virtually every profession and industry, helping them with
                            optimizing their resumes, writing cover letters and creating compelling LinkedIn profiles.
                        </h5>
                        <!-- <div class="text-right"><button class="btn"><i>See More</i></button></div> -->
                        <div class="writer-name">
                            <h2>Branden Maya</h2>
                            <p>Resume Writer/Interview Coach</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- How it works -->
<div class="container brand-resume">
    <div class="row">
        <div class="col-lg-12 text-center" data-aos="fade-down" data-aos-duration="1000">
            <h1 class="heading1 mb-5">How it works</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center" style="height:100%">
                <div class="icon">
                    <img src="../../../assets/images/getMatch.jpg">
                </div>

                <h3>Get matched with an <br>expert writer</h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center" style="height:100%">
                <div class="icon">
                    <img src="../../../assets/images/work.jpg">
                </div>

                <h3>Work one-on-one to craft your career story</h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center" style="height:100%">
                <div class="icon">
                    <img src="../../../assets/images/receiveResume.jpg">
                </div>

                <h3>Receive a resume tailored to<br> your goals</h3>
            </div>
        </div>
    </div>
</div>

<!-- Why Brand Resume -->
<div class="container brand-resume">
    <div class="row">
        <div class="col-lg-12 text-center" data-aos="fade-down" data-aos-duration="1000">
            <h1 class="heading1 mb-5">Satisfied Customers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center" style="height:100%">
                <br/>
                <h2 class="counterUp" data-count="65" data-word="industries" style="line-height: 60px;">0 industries</h2>
                <p class="mb-0">Range of writer expertise</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center" style="height:100%">
                <h2 class="counterUp" data-count="80" data-word="writers" style="line-height: 100px;">0+ writers</h2>
                <p class="mb-0">All over the countries</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center" style="height:100%">
                <h2 class="counterUp" data-count="1156" data-word="" style="line-height: 100px;">0</h2>
                <p class="mb-0">Careers changed</p>
            </div>
        </div>
    </div>
</div>

<div class="mt-5"></div>
<app-footer></app-footer>