$green_background_color:#00a67d;

@font-face {
    font-family: Roboto-Regular;
    src: url(../../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../../assets/fonts/Roboto-Bold.ttf);
}

h1 {
    color: #282a41;
    font-weight: 600;
    margin-bottom: 12px;
}

.banner {
    align-items: center;
    background-color: $green_background_color;

    .banner_img {
        height: 150px;
        margin: auto;
        text-align: center;
        width: 100%;
    }

    @media(min-width:495px) {
        .banner_img {
            height: 150px;

            img {
                margin-top: 5px;
            }
        }
    }

    @media(max-width:495px) {
        .banner_img {
            height: 175px;
            margin-top: 0px;
        }
    }

    .banner-text {
        h2 {
            color: #ffffff;
            font-weight: 600;
            line-height: 1.4;
            padding-top: 15px;
            text-align: center;
        }

        p {
            color: #ffffff;
        }

        @media(min-width:830px) {
            p {
                position: absolute;
            }
        }
    }
}

.our-story {
    margin-top: 50px;

    h1 {
        color: #282a41;
        margin-bottom: 12px;
    }

    h3 {
        color: #7a7b86;
        line-height: 2;
    }

    img {
        border-radius: 30px;
    }
}

.our-team {
    margin-top: 50px;

    h3 {
        color: #7a7b86;
        line-height: 2;
    }

    .box {
        background-color: #fff;
        box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.20);
        border-radius: 12px;
        padding: 40px;
        -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.20);

        .writers {
            text-align: center;

            img {
                border-radius: 50%;
                height: 100px;
                width: 100px;
            }

            h2 {
                color: #777882;
                line-height: 1.6;
                margin-top: 20px;
            }

            .writer-name {
                h2 {
                    color: #122c34;
                    margin-bottom: 0px;
                    margin-top: 20px;
                }

                p {
                    color: #777882;
                    margin-bottom: 0px;
                }
            }

            h5 {
                color: #878891;
            }
        }
    }
}

/* brand-resume */
.brand-resume {
    margin-top: 60px;

    h1 {
        font-weight: 600;
    }

    .box {
        border-radius: 50px 0;
        box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.20);
        height: 300px;
        transition: 0.6s;
        -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.20);

        .icon {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;

            i {
                align-items: center;
                border-radius: 50%;
                border: 1px solid #122c34;
                color: #122c34;
                display: flex;
                font-size: 20px;
                height: 70px;
                justify-content: center;
                width: 70px;
            }
        }

        h3 {
            color: #122c34;
            font-weight: 600;
        }

        &:hover {
            background-color: #122c34;
            cursor: pointer;
            color: #fff;

            .icon i {
                border: 1px solid #fff;
                color: #fff;
            }

            h3 {
                color: #fff;
            }
        }
    }
}

.sectionThree {
    background: #fafbf6;
    height: 300px;
    position: relative;

    .row {
        margin: 0;
    }

    .left-triangle {
        position: absolute;
        top: 0px;
        right: 0;
    }

    .heading {
        margin: 40px 0px;
        text-align: center;
        width: 100%;
    }

    .dot {
        position: absolute;
        bottom: -90px;
        left: -80px;
    }

    div.row {
        div.highway-slider {
            display: flex;
            height: 150px;
            justify-content: center;
            width: 100%;

            div.highway-barrier {
                overflow: hidden;
                position: relative;
            }

            ul.highway-lane {
                display: flex;
                height: 100%;

                li.highway-car {
                    align-items: center;
                    background: #fff;
                    color: #343434;
                    display: flex;
                    justify-content: center;
                    padding: 0 30px;
                }
            }
        }

        @keyframes translatestf {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-500%);
            }
        }

        #stffull div.highway-barrier {
            ul.highway-lane {
                width: 500%;

                li.highway-car {
                    animation: translatestf 30s linear infinite;
                }
            }
        }

        @keyframes translateinfinite {
            100% {
                transform: translateX(calc(-180px * 12));
            }
        }

        #infinite div.highway-barrier {

            &::before,
            &::after {
                content: " ";
                height: 100%;
                position: absolute;
                width: 180px;
                z-index: 9;
            }

            &::before {
                background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                left: 0;
                top: 0;
            }

            &::after {
                background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                right: 0;
                top: 0;
            }

            ul.highway-lane {
                width: calc(180px * 24);

                li.highway-car {
                    animation: translateinfinite 25s linear infinite;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 300px) {

    .banner {
        background-image: none;
        background-color: $green_background_color;
        //padding: 20px;
        height: auto;

        .banner-text {
            h1 {
                font-size: 30px;
            }
        }
    }

    h1 {
        font-size: 35px !important;
    }

    .our-customer {
        .company {
            display: block;

            div {
                text-align: center;

                img {
                    margin: 15px auto;
                    padding: 15px;
                    width: 100px;
                }
            }
        }
    }

    .sectionThree {
        .company {
            display: block;

            .bran-images {
                margin: auto;
            }
        }
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .our-customer {
        .company {
            div {
                text-align: center;

                img {
                    padding: 25px;
                }
            }
        }
    }

    .sectionThree {
        .company {
            .bran-images {
                img {
                    padding: 25px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .our-team {
        .box {
            .writers {
                h2 {
                    font-size: 16px;
                }
            }
        }
    }
}

h2 {
    font-size: 1.5rem;
}