<app-header [navbarClass] = "navbarClass"></app-header>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-text">
                    <h1 class="">About Us</h1>
                    <p class="text-center">Our company have helped thousands of professionals in building their 
                        personal brands and bringing their career stories to life.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-story">
    <div class="container">
        <div class="row" data-aos="fade-down" data-aos-duration="1000">
            <div class="col-lg-7 mt-5">
                <h1>Who We Are?</h1>
                <h3>Founded in 2012, Career Scripters Writers Network connects people and jobs through interview-winning 
                    resumes. We take tremendous pride in making a positive impact on the global career coaching 
                    industry. Every day, we aim to help struggling professionals on a larger scale to secure 
                    their desired job. Our team of expert writers will rework your resume, cover letter, 
                    LinkedIn profile, and more to help you redefine your professional image. So far, 
                    we’ve helped thousands of job seekers across every industry and experience level. 
                    We can help you too!
                    <br><br>
                    Being in the industry for over 8 years, Career Scripters works with professionals all over the U.S across a broad range of industries. What makes our company and service unique is that we bring the perspective of recruiters and HR professionals to our resume writing process.
                    We use a tech-informed, expert designed protocol to create resumes that appeal to hiring managers and Applicant Tracking System (ATS).
                    Careers Scripters Writers Network has transformed the way the recruiting industry used to operate.  We have been committed to providing talented job seekers with quality resumes at an extremely reasonable rate. Now, it’s our job to help you achieve your career goal, starting with a quality resume.
                </h3>
            </div>
            <div class="col-lg-5 mt-5">
                <img class="w-100" src="../../../assets/images/blog2.jpg">
                <br><br>
                <img class="w-100 mt-5" src="../../../assets/images/OurCompany1.jpg">
            </div>
        </div>
        <div class="row align-items-center" data-aos="fade-down" data-aos-duration="1000">
            <div class="col-lg-7 mt-5">
                <h1>Our Mission</h1>
                <h3>Our mission is to provide job seekers with the most effective and trusted source of resume writing services. When you work with us, you’re investing in a quicker job search and a more fruitful and satisfying career.</h3>
            </div>
            <div class="col-lg-5 mt-5">
                <img class="w-100" src="../../../assets/images/OurCompany2.jpg">
            </div>
        </div>
    </div>
</div>

<div class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-down" data-aos-duration="1000">
                <h1>Our Team</h1>
                <h3>Meet our hand-picked, expert team of resume writers and career coaches.</h3>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
                <div class="box mt-5">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Jimmy Carter.jfif">
                        <h2>Certified Resume Writer with a decade of well-rounded experience in U.S and Canadian employment.</h2>
                        <div class="writer-name">
                            <h2>Jimmy Carter</h2>
                            <p>Certified Resume Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
                <div class="box mt-5">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/David.jfif">
                        <h2>Creative and multi-published author known for delivering impeccable research and powerful writing.</h2>
                        <div class="writer-name">
                            <h2>David Henry</h2>
                            <p>Professional Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
                <div class="box mt-5">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Scott Brian.jfif">
                        <h2>CPRW with a Bachelors of Arts in Communication from the University of Alabama in Huntsville.</h2>
                        <div class="writer-name">
                            <h2>Scott Brian</h2>
                            <p>Creative Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
                <div class="box mt-5">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Alicia Perkins.jfif">
                        <h2>Talented resume writer, senior level HR Consultant and career coach based near Ohio, USA.</h2>
                        <div class="writer-name">
                            <h2>Alicia Perkins</h2>
                            <p>HR Consultant</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
                <div class="box mt-5">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Catherine Haris.jfif">
                        <h2>15+ years of Human Resources, career development, recruitment and job coaching experience.</h2>
                        <div class="writer-name">
                            <h2>Catherine Harris</h2>
                            <p>Resume Analyst & Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
                <div class="box mt-5">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Cameron.jfif">
                        <h2>Seasoned HR Manager with broad experience in resume writing and providing career development services.</h2>
                        <div class="writer-name">
                            <h2>Cameron Dorsey</h2>
                            <p>Executive Resume Writer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
                <div class="box mt-5">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Edward Leah.jfif">
                        <h2>Accomplished Resume Writer & Analyst with hands-on experience in technical resumes in diverse range of industries.</h2>
                        <div class="writer-name">
                            <h2>Edward Leah</h2>
                            <p>Senior Resume Writer & Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
                <div class="box mt-5">
                    <div class="writers">
                        <img src="../../../assets/images/our_company/Brandon Maya.jfif">
                        <h2>Job Search Strategist and Career Advisor, excel at assisting individuals in a variety of professions to find their ideal career position.</h2>
                        <div class="writer-name">
                            <h2>Branden Maya</h2>
                            <p>Resume Writer/Interview Coach</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Why CareerScripters -->
<div class="container brand-resume">
    <div class="row">
        <div class="col-lg-12 text-center" data-aos="fade-down" data-aos-duration="1000">
            <h1 class="mb-5">Why CareerScripters</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center">
                <div class="icon">
                    <i class="fas fa-user-edit"></i>
                </div>
                
                <h3>Real Professional Editing</h3>
                <p>We will analyze your current resume and convert it to align with your dream job</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center">
                <div class="icon">
                    <i class="fas fa-user-friends"></i>
                </div>
                
                <h3>Real Humans</h3>
                <p>We cater your job seeking goals in order to achive 100% customer satisfaction</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="box p-4 text-center">
                <div class="icon">
                    <i class="fas fa-book-reader"></i>
                </div>
                
                <h3>Real Results</h3>
                <p>We are results driven and our goals is for you to land more interviews starting now</p>
            </div>
        </div>
    </div>
</div>

<section class="sectionThree">
    <div class="container">
        <div class="row position-relative" data-aos="fade-down" data-aos-duration="2000">
            <div class="col-12 mt-5">
                <div class="heading">
                    <h1>Our Customers</h1>
                </div>
            </div>
            <div class="company mt-5">
                <div class="bran-images">
                    <img class="img" src="../../../assets/images/brands/netflix.png">
                    <img class="img-hover" src="../../../assets/images/brands/netflix-hover.png">
                </div>
                <div class="bran-images">
                    <img class="img" src="../../../assets/images/brands/amazon.png">
                    <img class="img-hover" src="../../../assets/images/brands/amazon-hover.jpg">
                </div>
                <div class="bran-images">
                    <img class="img" src="../../../assets/images/brands/google.png">
                    <img class="img-hover" src="../../../assets/images/brands/google-hover.png">
                </div>
                <div class="bran-images">
                    <img class="img" src="../../../assets/images/brands/oracle.png">
                    <img class="img-hover" src="../../../assets/images/brands/oracle-hover.png">
                </div>
                <div class="bran-images">
                    <img class="img" src="../../../assets/images/brands/john-hover.png">
                    <img class="img-hover" src="../../../assets/images/brands/john.png">
                </div>
                <div class="bran-images">
                    <img class="img" src="../../../assets/images/brands/microsoft.png">
                    <img class="img-hover" src="../../../assets/images/brands/microsoft-hover.png">
                </div>
            </div>
        </div>
    </div>
    
</section>
<div class="mt-5"></div>
<app-footer></app-footer>