table {
  text-align: center;
  width: 100% !important;

  tr {
    background-color: transparent !important;
  }
  @media(max-width:680px)
  {
    .service_type{
      display: none;
    }
  }
  @media(max-width:410px)
  {
    .sr_no{
      display: none;
    }
  }
}