<!--loading start-->
<div *ngIf="!showOrderList" class="content col-sm-12">
  <app-loading></app-loading>
</div>
<!--loading end-->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12" style="height:832px">
      <div class="table-responsive-sm">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
          <thead *ngIf="showOrderList">
            <tr>
              <th class="sr_no">#</th>
              <th class="order_id">Id</th>
              <th>Package</th>
              <th class="service_type">Service Type</th>
              <th class="price">Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="orders?.length != 0 && showOrderList">
            <tr *ngFor="let order of list_of_orders; let i=index">
              <td class="sr_no">{{ i + 1 }}</td>
              <td class="order_id">{{order.id}}</td>
              <td>{{ package_title[i] }}</td>
              <td class="service_type">{{ service_type[i] }}</td>
              <td class="price">{{ order.price | currency }}</td>
              <td>
                <a routerLink="./order/{{order.id}}" class="btn btn-success">View</a>
              </td>
            </tr>
            <!-- <tr *ngFor="let order of orders[0].orders; let i = index">
                      <td>{{ i + 1 }}</td> -->
            <!-- <td>{{ order.name }}</td>
                      <td>{{ order.email }}</td> -->
            <!-- <td *ngIf="order.services.length > 0">{{ order.services[0].title }}</td>
                      <td *ngIf="order.packages.length > 0">{{ order.packages[0].title }}</td>
                      <td>{{ order.service_types[0].name }}</td>
                      <td>{{ order.price | currency }}</td>
                      <td>{{ order.status }}</td>
                      <td>
                          <a routerLink="../order/{{order.id}}" class="btn btn-success"><i class="fa fa-eye"></i></a>
                      </td>
                    </tr> -->
          </tbody>
          <tbody *ngIf="orders?.length == 0 && showOrderList">
            <tr>
              <td colspan="6" class="no-data-available text-center">No data!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>